@{
    ViewBag.Title = "L1C7 5.4 I IV V vi iii ii Diatonic Triad Progressions";
}

<h2>Level 1 Chapter 7</h2>
<h5>@ViewBag.Title</h5>

<div class="card bg-info text-white">
    <div class="card-body">
        <i class="fa fa-info-circle"></i>
        <span class="pad-left-10">These are selected from the diatonic triad progression questions on pages 164-165.</span>
    </div>
</div>

<div class="row">
    <div class="col-md-6 card">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
</div>

<div class="row">
    <div class="col-md-6 card">
        <h6>Helper - I chord</h6>
        <figure>
            <figcaption> I (root)</figcaption>
            <audio id="audio" controls preload='none'>
                <source src='@Url.Action("GetTriadEx", "L1C3", new { doNoteName = ViewBag.Pitch.PitchName, triadtype = 0, inversion = 0 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
</div>

<section id="tabs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="true">2 Chord Progressions</a>
                        <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3" aria-selected="false">3 Chord Progressions</a>
                    </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
                        <div class="row">
                            <div class="col-md-6 card">
                                <div>
                                    <div class="float-left">
                                        <h4>Drill</h4>
                                    </div>
                                    <div class="float-right">
                                        <span id="spinner2" class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true"></span>
                                        <input type="button" class="btn btn-primary margin-top-5" value="Get a New Progression" onclick="setAudProgression2Src()" />
                                    </div>
                                </div>

                                <figure>
                                    <figcaption>Press the play button to hear the progression</figcaption>
                                    <audio id="audProgression2" controls preload='none'>
                                        <source src='' type='audio/mpeg'>
                                    </audio>
                                </figure>
                                <p>Hover over the below to see the progression</p>
                                <div class="spoiler" id="progression2"></div>
                            </div>
                        </div>

                        <h4>2 Chord Progression Prompts</h4>
                        <div class="row">
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">IV (2nd) - I (root)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-0" checked />
                                            <label class="custom-control-label small" for="cb-include-0">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 0 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">ii (root) - V (1st)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-1" checked />
                                            <label class="custom-control-label small" for="cb-include-1">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 1 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">I (2nd) - ii (1st)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-2" checked />
                                            <label class="custom-control-label small" for="cb-include-2">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 2 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">vi (root) - IV (1st)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-3" checked />
                                            <label class="custom-control-label small" for="cb-include-3">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 3 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">I (1st) - V (2nd)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-4" checked />
                                            <label class="custom-control-label small" for="cb-include-4">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 4 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">I (root) - vi (1st)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-5" checked />
                                            <label class="custom-control-label small" for="cb-include-5">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 5 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
                        <div class="row">
                            <div class="col-md-6 card">
                                <div>
                                    <div class="float-left">
                                        <h4>Drill</h4>
                                    </div>
                                    <div class="float-right">
                                        <span id="spinner3" class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true"></span>
                                        <input type="button" class="btn btn-primary margin-top-5" value="Get a New Progression" onclick="setAudProgression3Src()" />
                                    </div>
                                </div>

                                <figure>
                                    <figcaption>Press the play button to hear the progression</figcaption>
                                    <audio id="audProgression3" controls preload='none'>
                                        <source src='' type='audio/mpeg'>
                                    </audio>
                                </figure>
                                <p>Hover over the below to see the progression</p>
                                <div class="spoiler" id="progression3"></div>
                            </div>
                        </div>

                        <h4>3 Chord Progression Prompts</h4>
                        <div class="row">

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">I (2nd) - ii (1st) - iii (1st)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-6" checked />
                                            <label class="custom-control-label small" for="cb-include-6">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 6 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">I (1st) - V (2nd) - vi (2nd)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-7" checked />
                                            <label class="custom-control-label small" for="cb-include-7">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 7 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">IV (2nd) - V (1st) - vi (1st)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-8" checked />
                                            <label class="custom-control-label small" for="cb-include-8">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 8 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">iii (1st) - I (2nd) - ii (1st)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-9" checked />
                                            <label class="custom-control-label small" for="cb-include-9">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 9 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">IV (root) - V (2nd) - iii (root)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-10" checked />
                                            <label class="custom-control-label small" for="cb-include-10">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 10 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">I (root) - ii (2nd) - IV (1st)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-11" checked />
                                            <label class="custom-control-label small" for="cb-include-11">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 11 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">I (1st) - iii (root) - ii (1st)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-12" checked />
                                            <label class="custom-control-label small" for="cb-include-12">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 12 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">IV (2nd) - I (root) - V (1st)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-13" checked />
                                            <label class="custom-control-label small" for="cb-include-13">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 13 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">vi (root) - IV (1st) - I (2nd)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-14" checked />
                                            <label class="custom-control-label small" for="cb-include-14">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 14 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">V (2nd) - I (root) - ii (root)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-15" checked />
                                            <label class="custom-control-label small" for="cb-include-15">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 15 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">I (1st) - V (2nd) - IV (root)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-16" checked />
                                            <label class="custom-control-label small" for="cb-include-16">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 16 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudProgression2Src();
            setAudProgression3Src();

            $('.cb-include').change(function () {
                setAudProgression2Src();
                setAudProgression3Src();
            });
        });

        function setAudProgression2Src() {
            $('#spinner2').show();
            var baseSrc = '@Url.Action("Get2ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName })';
            var excluded = getExcluded(null, 0);
            var progressiontype = getRandomInt(0, 5, excluded);
            var src = baseSrc + '&progressiontype=' + progressiontype;
            $('#audProgression2').attr('src', src);

            var msg = '';
            switch (progressiontype) {
                case 0:
                    msg = msg + ' IV (2nd) - I (root)';
                    break;

                case 1:
                    msg = msg + ' ii (root) - V (1st)';
                    break;

                case 2:
                    msg = msg + ' I (2nd) - ii (1st)';
                    break;

                case 3:
                    msg = msg + ' vi (root) - IV (1st)';
                    break;

                case 4:
                    msg = msg + ' I (1st) - V (2nd)';
                    break;

                case 5:
                    msg = msg + ' I (root) - vi (1st)';
                    break;

                default:
                    consoleAndToastr('progression type ' + progressiontype + ' is not supported.');
                    break;
            }

            var doInfo = $('#doSpoiler').text();
            var progressionTable = buildProgressionTable(doInfo, msg);
            $('#progression2').html(progressionTable);
            $('#spinner2').fadeOut("slow");
        }

        function setAudProgression3Src() {
            $('#spinner3').show();
            var baseSrc = '@Url.Action("Get3ChordProgressionEx", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName })';
            var excluded = getExcluded(null, 0);
            var progressiontype = getRandomInt(6, 16, excluded);
            var src = baseSrc + '&progressiontype=' + progressiontype;
            $('#audProgression3').attr('src', src);

            var msg = '';
            switch (progressiontype) {
                case 6:
                msg = msg + ' I (2nd) - ii (1st) - iii (1st)';
                break;

                case 7:
                msg = msg + ' I (1st) - V (2nd) - vi (2nd)';
                break;

                case 8:
                msg = msg + ' IV (2nd) - V (1st) - vi (1st)';
                break;

                case 9:
                msg = msg + ' iii (1st) - I (2nd) - ii (1st)';
                break;

                case 10:
                msg = msg + ' IV (root) - V (2nd) - iii (root)';
                break;

                case 11:
                msg = msg + ' I (root) - ii (2nd) - IV (1st)';
                break;

                case 12:
                msg = msg + ' I (1st) - iii (root) - ii (1st)';
                break;

                case 13:
                msg = msg + ' IV (2nd) - I (root) - V (1st)';
                break;

                case 14:
                msg = msg + ' vi (root) - IV (1st) - I (2nd)';
                break;

                case 15:
                msg = msg + ' V (2nd) - I (root) - ii (root)';
                break;

                case 16:
                msg = msg + ' I (1st) - V (2nd) - IV (root)';
                break;

                default:
                    consoleAndToastr('progression type ' + progressiontype + ' is not supported.');
                    break;
            }

            var doInfo = $('#doSpoiler').text();
            var progressionTable = buildProgressionTable(doInfo, msg);
            $('#progression3').html(progressionTable);
            $('#spinner3').fadeOut("slow");
        }
    </script>
}
