@{
    ViewBag.Title = "5.1 - Melodic Min 2nd/Maj 7th Interval Identification";
}
<h2>Level 1 Chapter 7</h2>

<h5>@ViewBag.Title</h5>

<div class="card bg-info text-white">
    <div class="card-body">
        <i class="fa fa-info-circle"></i>
        <span class="pad-left-10">These are selected from the melodic interval identification questions on page 158.</span>
    </div>
</div>

<div class="row">
    <div class="col-md-6 card">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
</div>

<div class="row toggle-demo" role="group">
    <div class="col-md-6 card">
        Include drills for
        <div class="switch-toggle alert alert-dark">
            <input id="min2nds" name="intervaltype" type="radio" checked>
            <label for="min2nds" onclick="">Min 2nds</label>

            <input id="maj7ths" name="intervaltype" type="radio">
            <label for="maj7ths" onclick="">Maj 7ths</label>

            <input id="both" name="intervaltype" type="radio">
            <label for="both" onclick="">Both</label>

            <a class="btn btn-primary"></a>
        </div>
    </div>
</div>

<h4>Drill</h4>
<div class="row">
    <div class="col-md-4 card">
        <figure>
            <figcaption>Press the play button to hear the interval</figcaption>
            <audio id="audDrill1" controls preload='none'>
                <source src='' type='audio/mpeg'>
            </audio>
        </figure>
        <p>Hover over the below to reveal the interval</p>
        <div class="spoiler" id="drill1"></div>
        <div class="pad-top-10">
            <input type="button" class="btn btn-primary" value="Get a New Drill" onclick="setAudDrill1Src()" />
        </div>
    </div>
</div>

<div id="min2nd-prompts">
    <h4>Min 2nd Intervals</h4>
    <div class="row">
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">MI FA (Min 2nd Asc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-8" checked />
                        <label class="custom-control-label small" for="cb-include-8">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, type = 8 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">TI DO (Min 2nd Asc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-9" checked />
                        <label class="custom-control-label small" for="cb-include-9">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, type = 9 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">FA MI (Min 2nd Desc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-10" checked />
                        <label class="custom-control-label small" for="cb-include-10">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, type = 10 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">DO TI (Min 2nd Desc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-11" checked />
                        <label class="custom-control-label small" for="cb-include-11">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, type = 11 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
    </div>
</div>

<div id="maj7th-prompts">
    <h4>Maj 7th Intervals</h4>
    <div class="row">
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">DO TI (Maj 7th Asc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-12" checked />
                        <label class="custom-control-label small" for="cb-include-12">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, type = 12 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">FA MI (Maj 7th Asc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-13" checked />
                        <label class="custom-control-label small" for="cb-include-13">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, type = 13 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">TI DO (Maj 7th Desc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-14" checked />
                        <label class="custom-control-label small" for="cb-include-14">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, type = 14 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">MI FA (Maj 7th Desc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-15" checked />
                        <label class="custom-control-label small" for="cb-include-15">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName, type = 15 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
    </div>

</div>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudDrill1Src();

            $('input[type=radio][name=intervaltype]').change(function () {
                setAudDrill1Src();
            });

            $('.cb-include').change(function () {
                setAudDrill1Src();
            });

        });

        function setAudDrill1Src() {
            var baseSrc = '@Url.Action("GetMelodicInterval", "L1C7", new { doNoteName = ViewBag.Pitch.PitchName })';

            // Get the drills based on what the user has choosen.
            var intervalType = $("input[type=radio][name=intervaltype]:checked").attr('id');

            var minDrill;
            var maxDrill;
            var excluded = getExcluded([0, 1, 2, 3, 4, 5, 6, 7], 0);

            switch (intervalType) {
                case 'min2nds':
                    minDrill = 8;
                    maxDrill = 11;
                    $('#min2nd-prompts').fadeIn();
                    $('#maj7th-prompts').fadeOut();
                    break;

                case 'maj7ths':
                    minDrill = 12;
                    maxDrill = 15;
                    $('#min2nd-prompts').fadeOut();
                    $('#maj7th-prompts').fadeIn();
                    break;

                case 'both':
                    minDrill = 8;
                    maxDrill = 15;
                    $('#min2nd-prompts').fadeIn();
                    $('#maj7th-prompts').fadeIn();
                    break;

                default:
                    var msg = 'intervalType ' + intervalType + ' is not supported';
                    consoleAndAlert(msg);
            }

            var randomInt = getRandomInt(minDrill, maxDrill, excluded);

            var src = baseSrc + '&type=' + randomInt;
            $('#audDrill1').attr('src', src);

            var msg = '';
            switch (randomInt) {
                case 8:
                    msg = msg + 'MI FA (Min 2nd Asc)';
                    break;
                case 9:
                    msg = msg + 'TI DO (Min 2nd Asc)';
                    break;
                case 10:
                    msg = msg + 'FA MI (Min 2nd Desc)';
                    break;
                case 11:
                    msg = msg + 'DO TI (Min 2nd Desc)';
                    break;
                case 12:
                    msg = msg + 'DO TI (Maj 7th Asc)';
                    break;
                case 13:
                    msg = msg + 'FA MI (Maj 7th Asc)';
                    break;
                case 14:
                    msg = msg + 'TI DO (Maj 7th Desc)';
                    break;
                case 15:
                    msg = msg + 'MI FA (Maj 7th Desc)';
                    break;

                default:
                    var msg2 = 'drillType ' + randomInt + ' is not supported';
                    consoleAndAlert(msg2);
            }

            $('#drill1').text(msg);
        }

    </script>
}
