
@{
    ViewBag.Title = "Triad Identification";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        Determine the triad.
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Each time this page is refreshed, a new DO is assigned.</p>
        <input type="button" value="Get a New DO" onclick="location.href='@Url.Action("Index", "TriadIdentification" )'" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <audio controls preload='none'>
            <source src='@Url.Action("GetDO", "TriadIdentification", new { frequency = ViewBag.Pitch.Hertz })' type='audio/wav'>
        </audio>
        <div class="col-md-12">
            <p>Hover over the below to reveal the DO</p>
            <p class="spoiler">Your DO is @ViewBag.Pitch.PitchName - @ViewBag.Pitch.Hertz Hz</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Listen to the I triad.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <audio controls preload='none'>
            <source src='@Url.Action("GetChord", "TriadIdentification", new { frequency = ViewBag.Pitch.Hertz, type = 0 })' type='audio/wav'>
        </audio>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Play the random triad.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="button" value="Get a New Chord" onclick="setAudChordSrc()" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <audio id="audChord" controls preload='none'>
            <source src='@Url.Action("GetChord", "TriadIdentification", new { frequency = ViewBag.Pitch.Hertz })' type='audio/wav'>
        </audio>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-12">
        <p>Hover over the below to reveal the chord</p>
        <p class="spoiler" id="chord">Your chord here @ViewBag.Chord</p>
    </div>
</div>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudChordSrc();
        });

        function setAudChordSrc() {
            var baseSrc = '@Url.Action("GetChord", "TriadIdentification", new { frequency = ViewBag.Pitch.Hertz })';
            var randomInt = getRandomInt(0, 3);
            var src = baseSrc + '&type=' + randomInt;
            $('#audChord').attr('src', src);

            var msg = 'Your chord is @ViewBag.Chord ';
            switch (randomInt) {
                case 0:
                    msg = msg + 'I';
                    break;
                case 1:
                    msg = msg + 'IV';
                    break;
                case 2:
                    msg = msg + 'V';
                    break;
                case 3:
                    msg = msg + 'vi';
                    break;
            }

            $('#chord').text(msg);
    }

    </script>
}