@{
    ViewBag.Title = "Level 1, Chapter 3";
}

<h2>@ViewBag.Title</h2>
<h5>I IV V Diatonic Triad Recognition</h5>
<hr />

<div class="row">
    <div class="col-md-12">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
 </div>

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="button" value="Get a New Triad" onclick="setAudioSrc()" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <figure>
            <figcaption><img class="piano" /></figcaption>
            <audio id="audioEx" controls preload='none'>
                <source src='' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-12">
        <p>Hover over the below to reveal the triad</p>
        <p class="spoiler" id="triad">Your triad here @ViewBag.Triad</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Prompts</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <figure>
            <figcaption><img class="piano" /> I (root)</figcaption>
            <audio id="audio" controls preload='none'>
                <source src='@Url.Action("GetTriadEx", "L1C3", new { doNoteName = ViewBag.Pitch.PitchName, triadtype = 0, inversion = 0 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <figure>
            <figcaption><img class="piano" /> IV (root)</figcaption>
            <audio id="audio" controls preload='none'>
                <source src='@Url.Action("GetTriadEx", "L1C3", new { doNoteName = ViewBag.Pitch.PitchName, triadtype = 1, inversion = 0 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <figure>
            <figcaption><img class="piano" /> V (root)</figcaption>
            <audio id="audio" controls preload='none'>
                <source src='@Url.Action("GetTriadEx", "L1C3", new { doNoteName = ViewBag.Pitch.PitchName, triadtype = 2, inversion = 0 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <figure>
            <figcaption><img class="piano" /> I (1st)</figcaption>
            <audio id="audio" controls preload='none'>
                <source src='@Url.Action("GetTriadEx", "L1C3", new { doNoteName = ViewBag.Pitch.PitchName, triadtype = 0, inversion = 1 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <figure>
            <figcaption><img class="piano" /> IV (1st)</figcaption>
            <audio id="audio" controls preload='none'>
                <source src='@Url.Action("GetTriadEx", "L1C3", new { doNoteName = ViewBag.Pitch.PitchName, triadtype = 1, inversion = 1 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <figure>
            <figcaption><img class="piano" /> V (1st)</figcaption>
            <audio id="audio" controls preload='none'>
                <source src='@Url.Action("GetTriadEx", "L1C3", new { doNoteName = ViewBag.Pitch.PitchName, triadtype = 2, inversion = 1 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <figure>
            <figcaption><img class="piano" /> I (2nd)</figcaption>
            <audio id="audio" controls preload='none'>
                <source src='@Url.Action("GetTriadEx", "L1C3", new { doNoteName = ViewBag.Pitch.PitchName, triadtype = 0, inversion = 2 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <figure>
            <figcaption><img class="piano" /> IV (2nd)</figcaption>
            <audio id="audio" controls preload='none'>
                <source src='@Url.Action("GetTriadEx", "L1C3", new { doNoteName = ViewBag.Pitch.PitchName, triadtype = 1, inversion = 2 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <figure>
            <figcaption><img class="piano" /> V (2nd)</figcaption>
            <audio id="audio" controls preload='none'>
                <source src='@Url.Action("GetTriadEx", "L1C3", new { doNoteName = ViewBag.Pitch.PitchName, triadtype = 2, inversion = 2 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>

</div>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudioSrc();
        });

        function setAudioSrc() {
            var audioExSrc = '@Url.Action("GetTriadEx", "L1C3", new { doNoteName = ViewBag.Pitch.PitchName })';
            var triadtype = getRandomInt(0, 2);
            var inversion = getRandomInt(0, 2);
            audioExSrc = audioExSrc + '&triadtype=' + triadtype + '&inversion=' + inversion;;

            $('#audioEx').attr('src', audioExSrc);

            var msg = '@ViewBag.Triad';
            switch (triadtype) {
                case 0:
                    msg = msg + 'I ';
                    break;
                case 1:
                    msg = msg + 'IV ';
                    break;
                case 2:
                    msg = msg + 'V ';
                    break;
            }

            switch (inversion) {
                case 0:
                    msg = msg + '(root)';
                    break;
                case 1:
                    msg = msg + '(1st)';
                    break;
                case 2:
                    msg = msg + '(2nd)';
                    break;
            }

            $('#triad').text(msg);
    }

    </script>
}

