@{
    ViewBag.Title = "Level 1, Chapter 3";
}
<h2>@ViewBag.Title</h2>

<h5>Melodic Minor 3rd / Major 6th Intervals</h5>
<hr />

<div class="row">
    <div class="col-md-4">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
</div>

<hr />

<div class="row toggle-demo" role="group">
    <div class="col-md-6">
        Include drills for
        <div class="switch-toggle alert alert-dark">
            <input id="min3rds" name="intervaltype" type="radio" checked>
            <label for="min3rds" onclick="">Minor 3rds</label>

            <input id="maj6ths" name="intervaltype" type="radio">
            <label for="maj6ths" onclick="">Major 6ths</label>

            <input id="both" name="intervaltype" type="radio">
            <label for="both" onclick="">Both</label>

            <a class="btn btn-primary"></a>
        </div>
    </div>
</div>

<h4>Drill</h4>
<div class="row">
    <div class="col-md-4">
        <input type="button" value="Get a New Interval" onclick="setAudDrill1Src()" />
        <figure>
            <figcaption><img class="piano" /></figcaption>
            <audio id="audDrill1" controls preload='none'>
                <source src='' type='audio/mpeg'>
            </audio>
        </figure>
        <div class="spoiler" id="drill1"></div>
    </div>
</div>

<!-- Note that even though this is chapter 3, we're calling methods in chapter 2's controller because the code was already set up there. -->

<div id="min-3rd-prompts">
    <h4>Min 3rd Prompts</h4>
    <div class="row">
        <div class="col-md-4">
            <figure>
                <figcaption><img class="piano" /> RE RE FA FA MI</figcaption>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 12 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <figcaption><img class="piano" /> MI MI SO SO SO</figcaption>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 13 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <figcaption><img class="piano" /> LA LA DO DO DO</figcaption>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 14 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <figcaption><img class="piano" /> TI TI RE RE DO (high)</figcaption>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 15 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4">
            <figure>
                <figcaption><img class="piano" /> TI TI RE RE DO (low)</figcaption>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 16 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
    </div>
</div>

<div id="maj-6th-prompts">
    <h4>Maj 6th Prompts</h4>
    <div class="row">
    </div>

</div>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudDrill1Src();

            $('input[type=radio][name=intervaltype]').change(function () {
                setAudDrill1Src();
            });
        });

        function setAudDrill1Src() {
            var baseSrc = '@Url.Action("GetMelodicDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName })';

            // Get the drills based on what the user has choosen.
            var intervalType = $("input[type=radio][name=intervaltype]:checked").attr('id');

            var minDrill;
            var maxDrill;

            switch (intervalType) {
                case 'min3rds':
                    minDrill = 12;
                    maxDrill = 16;
                    $('#min-3rd-prompts').fadeIn();
                    $('#maj-6th-prompts').fadeOut();
                    break;

                case 'maj6ths':
                    consoleAndAlert('Not yet implemented');
                    minDrill = 42;
                    maxDrill = 42;
                    $('#min-3rd-prompts').fadeOut();
                    $('#maj-6th-prompts').fadeIn();
                    break;

                case 'both':
                    consoleAndAlert('Not yet implemented');
                    minDrill = 42;
                    maxDrill = 42;
                    $('#min-3rd-prompts').fadeIn();
                    $('#maj-6th-prompts').fadeIn();
                    break;

                default:
                    var msg = 'intervalType ' + intervalType + ' is not supported';
                    consoleAndAlert(msg);
            }

            var randomInt = randomInt = getRandomInt(minDrill, maxDrill);

            var src = baseSrc + '&type=' + randomInt;
            $('#audDrill1').attr('src', src);

            var msg = '';
            switch (randomInt) {
                case 12:
                    msg = msg + 'RE RE FA FA MI (Maj 3rd)';
                    break;
                case 13:
                    msg = msg + 'MI MI SO SO SO (Maj 3rd)';
                    break;
                case 14:
                    msg = msg + 'LA LA DO DO DO (Maj 3rd)';
                    break;
                case 15:
                    msg = msg + 'TI TI RE RE DO (high) (Maj 3rd)';
                    break;
                case 16:
                    msg = msg + 'TI TI RE RE DO (low) (Maj 3rd)';
                    break;
                case 5:
                    msg = msg + '';
                    break;
                case 6:
                    msg = msg + '';
                    break;
                case 7:
                    msg = msg + '';
                    break;
                case 8:
                    msg = msg + '';
                    break;
                case 9:
                    msg = msg + '';
                    break;
                case 10:
                    msg = msg + '';
                    break;
                case 11:
                    msg = msg + '';
                    break;
            }

            $('#drill1').text(msg);
        }

    </script>
}
