@{
    ViewBag.Title = "L1C3 5.1 Melodic Minor 3rd / Major 6th Interval Identification";
}
<h2>Level 1 Chapter 3</h2>
<h5>@ViewBag.Title</h5>

<div class="card bg-info text-white">
    <div class="card-body">
        <i class="fa fa-info-circle"></i>
        <span class="pad-left-10">These are selected from the interval identification questions on pages 50-51.</span>
    </div>
</div>

<div class="row">
    <div class="col-md-6 card">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
</div>

<div class="row toggle-demo" role="group">
    <div class="col-md-6 card">
        Include drills for
        <div class="switch-toggle alert alert-dark">
            <input id="min3rds" name="intervaltype" type="radio" checked>
            <label for="min3rds" onclick="">Minor 3rds</label>

            <input id="maj6ths" name="intervaltype" type="radio">
            <label for="maj6ths" onclick="">Major 6ths</label>

            <input id="both" name="intervaltype" type="radio">
            <label for="both" onclick="">Both</label>

            <a class="btn btn-primary"></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 card">
        <div>
            <div class="float-left">
                <h4>Drill</h4>
            </div>
            <div class="float-right">
                <span id="spinner" class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true"></span>
                <input type="button" class="btn btn-primary margin-top-5" value="Get a New Interval" onclick="setAudDrill1Src()" />
            </div>
        </div>

        <figure>
            <figcaption>Press the play button to hear the interval</figcaption>
            <audio id="audDrill1" controls preload='none'>
                <source src='' type='audio/mpeg'>
            </audio>
        </figure>
        <p>Hover over the below to reveal the interval</p>
        <div class="spoiler" id="drill1"></div>
    </div>
</div>

<!-- Note that even though this is chapter 3, we're calling methods in chapter 2's controller because the code was already set up there. -->

<div id="min-3rd-prompts">
    <h4>Min 3rd Prompts</h4>
    <div class="row">
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    RE FA
                    <div class="float-left"></div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-12" checked />
                        <label class="custom-control-label small" for="cb-include-12">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillNoDO", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 12 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    MI SO
                    <div class="float-left"></div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-13" checked />
                        <label class="custom-control-label small" for="cb-include-13">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillNoDO", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 13 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    LA DO
                    <div class="float-left"></div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-14" checked />
                        <label class="custom-control-label small" for="cb-include-14">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillNoDO", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 14 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    TI RE (high)
                    <div class="float-left"></div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-15" checked />
                        <label class="custom-control-label small" for="cb-include-15">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillNoDO", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 15 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    TI RE (low)
                    <div class="float-left"></div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-16" checked />
                        <label class="custom-control-label small" for="cb-include-16">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillNoDO", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 16 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
    </div>
</div>

<div id="maj-6th-prompts">
    <h4>Maj 6th Prompts</h4>
    <div class="row">
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">DO LA</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-17" checked />
                        <label class="custom-control-label small" for="cb-include-17">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillNoDO", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 17 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">RE TI</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-18" checked />
                        <label class="custom-control-label small" for="cb-include-18">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillNoDO", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 18 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">FA RE</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-19" checked />
                        <label class="custom-control-label small" for="cb-include-19">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillNoDO", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 19 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">SO MI</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-20" checked />
                        <label class="custom-control-label small" for="cb-include-20">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillNoDO", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 20 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">LA DO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-21" checked />
                        <label class="custom-control-label small" for="cb-include-21">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillNoDO", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 21 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">TI RE</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-22" checked />
                        <label class="custom-control-label small" for="cb-include-22">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillNoDO", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 22 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">RE FA</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-23" checked />
                        <label class="custom-control-label small" for="cb-include-23">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillNoDO", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 23 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">MI SO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-24" checked />
                        <label class="custom-control-label small" for="cb-include-24">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillNoDO", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 24 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>

    </div>

</div>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudDrill1Src();

            $('input[type=radio][name=intervaltype]').change(function () {
                setAudDrill1Src();
            });
            $('.cb-include').change(function () {
                setAudDrill1Src();
            });
        });

        function setAudDrill1Src() {
            $('#spinner').show();
            var baseSrc = '@Url.Action("GetMelodicDrillNoDO", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName })';

            // Get the drills based on what the user has choosen.
            var intervalType = $("input[type=radio][name=intervaltype]:checked").attr('id');

            var minDrill;
            var maxDrill;
            var excluded = getExcluded(null, 0);

            switch (intervalType) {
                case 'min3rds':
                    minDrill = 12;
                    maxDrill = 16;
                    $('#min-3rd-prompts').fadeIn();
                    $('#maj-6th-prompts').fadeOut();
                    break;

                case 'maj6ths':
                    minDrill = 17;
                    maxDrill = 24;
                    $('#min-3rd-prompts').fadeOut();
                    $('#maj-6th-prompts').fadeIn();
                    break;

                case 'both':
                    minDrill = 12;
                    maxDrill = 24;
                    $('#min-3rd-prompts').fadeIn();
                    $('#maj-6th-prompts').fadeIn();
                    break;

                default:
                    var msg = 'intervalType ' + intervalType + ' is not supported';
                    consoleAndToastr(msg);
            }

            var randomInt = getRandomInt(minDrill, maxDrill, excluded);

            var src = baseSrc + '&type=' + randomInt;
            $('#audDrill1').attr('src', src);

            var msg = '';
            switch (randomInt) {
                case 12:
                    msg = msg + 'RE FA (Min 3rd)';
                    break;
                case 13:
                    msg = msg + 'MI SO (Min 3rd)';
                    break;
                case 14:
                    msg = msg + 'LA DO (Min 3rd)';
                    break;
                case 15:
                    msg = msg + 'TI RE (high) (Min 3rd)';
                    break;
                case 16:
                    msg = msg + 'TI RE (low) (Min 3rd)';
                    break;
                case 17:
                    msg = msg + 'DO LA (Maj 6th)';
                    break;
                case 18:
                    msg = msg + 'RE TI (Maj 6th)';
                    break;
                case 19:
                    msg = msg + 'FA RE (Maj 6th)';
                    break;
                case 20:
                    msg = msg + 'SO MI (Maj 6th)';
                    break;
                case 21:
                    msg = msg + 'LA DO (Maj 6th)';
                    break;
                case 22:
                    msg = msg + 'TI RE (Maj 6th)';
                    break;
                case 23:
                    msg = msg + 'RE FA (Maj 6th)';
                    break;
                case 24:
                    msg = msg + 'MI SO (Maj 6th)';
                    break;

                default:
                    var msg2 = 'drillType ' + randomInt + ' is not supported';
                    consoleAndToastr(msg2);

            }

            $('#drill1').text(msg);
            $('#spinner').fadeOut("slow");
        }

    </script>
}
