@{
    ViewBag.Title = "Eartraining Home";
}

<h2>Supplemental Drills</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <h3>Level 1 Chapter 1</h3>
        <p>
            Solfeg resolutions / Pitch Identification.
        </p>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "L1C1" )">Level 1, Chapter 1 &raquo;</a></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h3>Level 1 Chapter 2</h3>
        <p>
            Maj 3rd / Min 6th Intervals.
        </p>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "L1C2" )">Level 1, Chapter 2 &raquo;</a></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h3>Level 1 Chapter 3</h3>
        <p>
            I IV V Diatonic Triad Recognition.
        </p>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "L1C3" )">Level 1, Chapter 3 &raquo;</a></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h3>Level 1 Chapter 4</h3>
        <p>
            2 and 3 Chord Progressions.
        </p>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "L1C4" )">Level 1, Chapter 4 &raquo;</a></p>
        <p></p>
    </div>
</div>
    <br /><br /><br /><br />
<h2>Other Drills</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <h3>Find the DO</h3>
        <p>
            Listen to a (tonic) note, and find the DO.
        </p>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "DO" )" role="button">Find the DO &raquo;</a></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h3>Major or Minor Triad</h3>
        <p>
            Determine if chord is a major or minor triad.
        </p>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "MajorOrMinorTriad" )">Major or Minor Triad &raquo;</a></p>
        <p></p>
    </div>
    @*<div class="col-md-4">
        <h3>Triad Identification</h3>
        <p>
            Determine the triad. e.g. I, IV, vi etc.
        </p>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "TriadIdentification" )">Triad Identification &raquo;</a></p>
        <p></p>
    </div>*@
    <div class="col-md-4">
        <h3>Solfeg Pitch Identification</h3>
        <p>
            Determine the solfeg pitch. e.g. DO, RE, MI etc.
        </p>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "PitchIdentification" )">Pitch Identification &raquo;</a></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h3>All Solfeg Syllables</h3>
        <p>
            All major and minor syllables.
        </p>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "Solfeg")">Solfeg Syllables &raquo;</a></p>
        <p></p>
    </div>
</div>