@{
    ViewBag.Title = "Eartraining Home";
}

@*<div class="jumbotron">
    <h1>Eartraining</h1>
    <p class="lead">Eartraining is a free resource to assist in developing music ear skills</p>
</div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Find the DO</h2>
        <p>
            Listen to a (tonic) note, and find the DO.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "DO" )">Find the DO &raquo;</a></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Level 1 Chapter 1</h2>
        <p>
            Solfeg resolutions.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "L1C1" )">Level 1, Chapter 1 &raquo;</a></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Level 1 Chapter 3</h2>
        <p>
            I IV V Diatonic Triad Recognition.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "L1C3" )">Level 1, Chapter 3 &raquo;</a></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Level 1 Chapter 4</h2>
        <p>
            2 and 3 Chord Progressions.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "L1C4" )">Level 1, Chapter 4 &raquo;</a></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Major or Minor Triad</h2>
        <p>
            Determine if chord is a major or minor triad.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "MajorOrMinorTriad" )">Major or Minor Triad &raquo;</a></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Triad Identification</h2>
        <p>
            Determine the triad. e.g. I, IV, vi etc.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "TriadIdentification" )">Triad Identification &raquo;</a></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Solfeg Pitch Identification</h2>
        <p>
            Determine the solfeg pitch. e.g. DO, RE, MI etc.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "PitchIdentification" )">Pitch Identification &raquo;</a></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>All Solfeg Syllables</h2>
        <p>
            All major and minor syllables.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Solfeg")">Solfeg Syllables &raquo;</a></p>
        <p></p>
    </div>
</div>