@{
    ViewBag.Title = "L1C5 5.4 I IV V vi Diatonic Triad Progressions";
}

<h2>Level 1 Chapter 5</h2>
<h5>@ViewBag.Title</h5>

<div class="card bg-info text-white">
    <div class="card-body">
        <i class="fa fa-info-circle"></i>
        <span class="pad-left-10">These are selected from the diatonic triad progression questions on pages 101-102</span>
    </div>
</div>

<div class="row">
    <div class="col-md-6 card">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
    <div class="col-md-6 card">
        <figure>
            <figcaption>Helper - I (root)</figcaption>
            <audio id="audio" controls preload='none'>
                <source src='@Url.Action("GetTriadEx", "L1C3", new { doNoteName = ViewBag.Pitch.PitchName, triadtype = 0, inversion = 0 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
</div>

<section id="tabs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="true">2 Chord Progressions</a>
                        <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3" aria-selected="false">3 Chord Progressions</a>
                    </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
                        <div class="row">
                            <div class="col-md-6 card">
                                <div>
                                    <div class="float-left">
                                        <h4>Drill</h4>
                                    </div>
                                    <div class="float-right">
                                        <input type="button" class="btn btn-primary margin-top-5" value="Get a New Progression" onclick="setAudProgression2Src()" />
                                    </div>
                                </div>

                                <figure>
                                    <figcaption>Press the play button to hear the progression</figcaption>
                                    <audio id="audProgression2" controls preload='none'>
                                        <source src='' type='audio/mpeg'>
                                    </audio>
                                </figure>
                                <p>Hover over the below to see the progression</p>
                                <div class="spoiler" id="progression2"></div>
                            </div>
                        </div>

                        <h4>2 Chord Progression Prompts</h4>
                        <div class="row">
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">IV (2nd) - I (root)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-0" checked />
                                            <label class="custom-control-label small" for="cb-include-0">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 0 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">V (1st) - I (root)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-1" checked />
                                            <label class="custom-control-label small" for="cb-include-1">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 1 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">I (root) - IV (2nd)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-3" checked />
                                            <label class="custom-control-label small" for="cb-include-3">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 3 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">vi (2nd) - IV (root)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-10" checked />
                                            <label class="custom-control-label small" for="cb-include-10">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 10 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">V (root) - vi (root)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-11" checked />
                                            <label class="custom-control-label small" for="cb-include-11">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 11 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">vi (1st) - I (root)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-12" checked />
                                            <label class="custom-control-label small" for="cb-include-12">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 12 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">IV (root) - V (root)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-13" checked />
                                            <label class="custom-control-label small" for="cb-include-13">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 13 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">vi (root) - V (root)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-14" checked />
                                            <label class="custom-control-label small" for="cb-include-14">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 14 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">IV (root) - vi (2nd)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-15" checked />
                                            <label class="custom-control-label small" for="cb-include-15">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 15 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
                        <div class="row">
                            <div class="col-md-6 card">
                                <div>
                                    <div class="float-left">
                                        <h4>Drill</h4>
                                    </div>
                                    <div class="float-right">
                                        <input type="button" class="btn btn-primary margin-top-5" value="Get a New Progression" onclick="setAudProgression3Src()" />
                                    </div>
                                </div>

                                <figure>
                                    <figcaption>Press the play button to hear the progression</figcaption>
                                    <audio id="audProgression3" controls preload='none'>
                                        <source src='' type='audio/mpeg'>
                                    </audio>
                                </figure>
                                <p>Hover over the below to see the progression</p>
                                <div class="spoiler" id="progression3"></div>
                            </div>
                        </div>

                        <h4>3 Chord Progression Prompts</h4>

                        <div class="row">
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">IV (2nd) - V (1st) - I (root)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-4" checked />
                                            <label class="custom-control-label small" for="cb-include-4">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 4 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">I (root) - IV (2nd) - V (1st)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-6" checked />
                                            <label class="custom-control-label small" for="cb-include-6">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 6 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">IV (2nd) - I (root) - V(1st)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-9" checked />
                                            <label class="custom-control-label small" for="cb-include-9">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 9 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">I (root) - V (1st) - vi (1st)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-16" checked />
                                            <label class="custom-control-label small" for="cb-include-16">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 16 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">vi (2nd) - IV (root) - I (1st)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-17" checked />
                                            <label class="custom-control-label small" for="cb-include-17">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 17 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">I (root) - vi (1st) - V (1st)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-18" checked />
                                            <label class="custom-control-label small" for="cb-include-18">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 18 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">V (root) - IV (root) - vi (2nd)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-19" checked />
                                            <label class="custom-control-label small" for="cb-include-19">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 19 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">IV (root) - V (root) - vi (root)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-20" checked />
                                            <label class="custom-control-label small" for="cb-include-20">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 20 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">vi (1st) - I (2nd) - IV (1st)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-21" checked />
                                            <label class="custom-control-label small" for="cb-include-21">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 21 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">V (2nd) - vi (2nd) - I (root)</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-22" checked />
                                            <label class="custom-control-label small" for="cb-include-22">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <div class="clearfix"></div>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 22 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudProgression2Src();
            setAudProgression3Src();

            $('.cb-include').change(function () {
                setAudProgression2Src();
                setAudProgression3Src();
            });
        });

        function setAudProgression2Src() {
            var baseSrc = '@Url.Action("Get2ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName })';

            var excluded = getExcluded([2, 4, 5, 6, 7, 8, 9], 0);
            var progressiontype = getRandomInt(0, 15, excluded);

            var src = baseSrc + '&progressiontype=' + progressiontype;
            $('#audProgression2').attr('src', src);

            var msg = '';
            switch (progressiontype) {
                case 0:
                    msg = msg + 'IV (2nd) - I (root)';
                    break;
                case 1:
                    msg = msg + 'V (1st) - I (root)';
                    break;
                case 3:
                    msg = msg + 'I (root) - IV (2nd)';
                    break;
                case 10:
                    msg = msg + 'vi (2nd) - IV (root)';
                    break;
                case 11:
                    msg = msg + 'V (root) - vi (root)';
                    break;
                case 12:
                    msg = msg + 'vi (1st) - I (root)';
                    break;
                case 13:
                    msg = msg + 'IV (root) - V (root)';
                    break;
                case 14:
                    msg = msg + 'vi (root) - V (root)';
                    break;
                case 15:
                    msg = msg + 'IV (root) - vi (2nd)';
                    break;
                default:
                    consoleAndAlert('progression type ' + progressiontype + ' is not supported.');
                    break;
            }

            var doInfo = $('#doSpoiler').text();
            var progressionTable = buildProgressionTable(doInfo, msg);
            $('#progression2').html(progressionTable);
        }

        function setAudProgression3Src() {
            var baseSrc = '@Url.Action("Get3ChordProgressionEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName })';

            var excluded = getExcluded([5, 7, 8, 10, 11, 12, 13, 14, 15], 0);
            var progressiontype = getRandomInt(4, 22, excluded);

            var src = baseSrc + '&progressiontype=' + progressiontype;
            $('#audProgression3').attr('src', src);

            var msg = '';
            switch (progressiontype) {
                case 4:
                    msg = msg + 'IV (2nd) - V (1st) - I (root)';
                    break;

                case 6:
                    msg = msg + 'I (root) - IV (2nd) - V (1st)';
                    break;

                case 9:
                    msg = msg + 'IV (2nd) - I (root) - V (1st)';
                    break;

                case 16:
                    msg = msg + 'I (root) - V (1st) - vi (1st)';
                    break;

                case 17:
                    msg = msg + 'vi (2nd) - IV (root) - I (1st)';
                    break;

                case 18:
                    msg = msg + 'I (root) - vi (1st) - V (1st)';
                    break;

                case 19:
                    msg = msg + 'V (root) - IV (root) - vi (2nd)';
                    break;

                case 20:
                    msg = msg + 'IV (root) - V (root) - vi (root)';
                    break;

                case 21:
                    msg = msg + 'vi (1st) - I (2nd) - IV (1st)';
                    break;

                case 22:
                    msg = msg + 'V (2nd) - vi (2nd) - I (root)';
                    break;

                default:
                    consoleAndAlert('progression type ' + progressiontype + ' is not supported.');
                    break;
            }

            var doInfo = $('#doSpoiler').text();
            var progressionTable = buildProgressionTable(doInfo, msg);
            $('#progression3').html(progressionTable);
        }
    </script>
}
