@{
    ViewBag.Title = "5.1 - Melodic 4th/5th Interval Identification";
}
<h2>Level 1 Chapter 5</h2>

<h5>@ViewBag.Title</h5>
<h5 class="alert-warning">Not Yet Fully Implemented</h5>

<div class="card bg-info text-white">
    <div class="card-body">
        <i class="fa fa-info-circle"></i>
        <span class="pad-left-10">These are selected from the melodic interval identification questions on pages 94-95.</span>
    </div>
</div>

<div class="row">
    <div class="col-md-6 card">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
</div>

<div class="row toggle-demo" role="group">
    <div class="col-md-6 card">
        Include drills for
        <div class="switch-toggle alert alert-dark">
            <input id="4ths" name="intervaltype" type="radio" checked>
            <label for="4ths" onclick="">4ths</label>

            <input id="5ths" name="intervaltype" type="radio">
            <label for="5ths" onclick="">5ths</label>

            <input id="both" name="intervaltype" type="radio">
            <label for="both" onclick="">Both</label>

            <a class="btn btn-primary"></a>
        </div>
    </div>
</div>

<h4>Drill</h4>
<div class="row">
    <div class="col-md-4 card">
        <figure>
            <figcaption>Press the play button to hear the interval</figcaption>
            <audio id="audDrill1" controls preload='none'>
                <source src='' type='audio/mpeg'>
            </audio>
        </figure>
        <p>Hover over the below to reveal the interval</p>
        <div class="spoiler" id="drill1"></div>
        <div class="pad-top-10">
            <input type="button" class="btn btn-primary" value="Get a New Drill" onclick="setAudDrill1Src()" />
        </div>
    </div>
</div>

<div id="4th-prompts">
    <h4>4th Intervals</h4>
    <div class="row">
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">DO FA (Per 4th Asc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-14" checked />
                        <label class="custom-control-label small" for="cb-include-14">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 14 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">RE SO (Per 4th Asc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-15" checked />
                        <label class="custom-control-label small" for="cb-include-15">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 15 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">MI LA (Per 4th Asc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-16" checked />
                        <label class="custom-control-label small" for="cb-include-16">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 16 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">FA TI (Aug 4th Asc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-17" checked />
                        <label class="custom-control-label small" for="cb-include-17">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 17 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">SO DO (Per 4th Asc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-18" checked />
                        <label class="custom-control-label small" for="cb-include-18">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 18 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">LA RE (Per 4th Asc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-19" checked />
                        <label class="custom-control-label small" for="cb-include-19">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 19 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">TI MI (Per 4th Asc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-20" checked />
                        <label class="custom-control-label small" for="cb-include-20">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 20 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">FA DO (Per 4th Desc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-21" checked />
                        <label class="custom-control-label small" for="cb-include-21">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 21 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">SO RE (Per 4th Desc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-22" checked />
                        <label class="custom-control-label small" for="cb-include-22">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 22 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">LA MI (Per 4th Desc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-23" checked />
                        <label class="custom-control-label small" for="cb-include-23">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 23 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">TI FA (Aug 4th Desc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-24" checked />
                        <label class="custom-control-label small" for="cb-include-24">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 24 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">DO SO (Perf 4th Desc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-25" checked />
                        <label class="custom-control-label small" for="cb-include-25">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 25 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">RE LA (Perf 4th Desc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-26" checked />
                        <label class="custom-control-label small" for="cb-include-26">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 26 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">MI TI (Perf 4th Desc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-27" checked />
                        <label class="custom-control-label small" for="cb-include-27">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 27 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
    </div>
</div>

<div id="5th-prompts">
    <h4>5th Intervals</h4>
    <div class="row">
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">DO SO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-28" checked />
                        <label class="custom-control-label small" for="cb-include-28">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 28 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">RE LA (Perf 5th Asc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-29" checked />
                        <label class="custom-control-label small" for="cb-include-29">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 29 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">MI TI (Perf 5th Asc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-30" checked />
                        <label class="custom-control-label small" for="cb-include-30">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 30 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">FA DO (Perf 5th Asc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-31" checked />
                        <label class="custom-control-label small" for="cb-include-31">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 31 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">SO RE (Perf 5th Asc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-32" checked />
                        <label class="custom-control-label small" for="cb-include-32">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 32 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">LA MI (Perf 5th Asc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-33" checked />
                        <label class="custom-control-label small" for="cb-include-33">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 33 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">TI FA (Dim 5th Asc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-34" checked />
                        <label class="custom-control-label small" for="cb-include-34">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 34 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">SO DO (Perf 5th Desc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-35" checked />
                        <label class="custom-control-label small" for="cb-include-35">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 35 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">LA RE (Perf 5th Desc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-36" checked />
                        <label class="custom-control-label small" for="cb-include-36">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 36 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">TI MI (Perf 5th Desc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-37" checked />
                        <label class="custom-control-label small" for="cb-include-37">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 37 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">DO FA (Perf 5th Desc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-38" checked />
                        <label class="custom-control-label small" for="cb-include-38">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 38 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">RE SO (Perf 5th Desc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-39" checked />
                        <label class="custom-control-label small" for="cb-include-39">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 39 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">MI LA (Perf 5th Desc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-40" checked />
                        <label class="custom-control-label small" for="cb-include-40">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 40 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">FA TI (Dim 5th Desc)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-42" checked />
                        <label class="custom-control-label small" for="cb-include-41">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 41 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
    </div>

</div>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudDrill1Src();

            $('input[type=radio][name=intervaltype]').change(function () {
                setAudDrill1Src();
            });

            $('.cb-include').change(function () {
                setAudDrill1Src();
            });

        });

        function setAudDrill1Src() {
            var baseSrc = '@Url.Action("GetMelodicInterval", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName })';

            // Get the drills based on what the user has choosen.
            var intervalType = $("input[type=radio][name=intervaltype]:checked").attr('id');

            var minDrill;
            var maxDrill;
            var excluded = getExcluded([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], 0);

            switch (intervalType) {
                case '4ths':
                    minDrill = 14;
                    maxDrill = 27;
                    $('#4th-prompts').fadeIn();
                    $('#5th-prompts').fadeOut();
                    break;

                case '5ths':
                    minDrill = 28;
                    maxDrill = 41;
                    $('#4th-prompts').fadeOut();
                    $('#5th-prompts').fadeIn();
                    break;

                case 'both':
                    minDrill = 14;
                    maxDrill = 41;
                    $('#4th-prompts').fadeIn();
                    $('#5th-prompts').fadeIn();
                    break;

                default:
                    var msg = 'intervalType ' + intervalType + ' is not supported';
                    consoleAndAlert(msg);
            }

            var randomInt = getRandomInt(minDrill, maxDrill, excluded);

            var src = baseSrc + '&type=' + randomInt;
            $('#audDrill1').attr('src', src);

            var msg = '';
            switch (randomInt) {
                case 14:
                    msg = msg + 'DO FA (Per 4th Asc)';
                    break;
                case 15:
                    msg = msg + 'RE SO (Per 4th Asc)';
                    break;
                case 16:
                    msg = msg + 'MI LA (Per 4th Asc)';
                    break;
                case 17:
                    msg = msg + 'FA TI (Aug 4th Asc)';
                    break;
                case 18:
                    msg = msg + 'SO DO (Per 4th Asc)';
                    break;
                case 19:
                    msg = msg + 'LA RE (Per 4th Asc)';
                    break;
                case 20:
                    msg = msg + 'TI MI (Per 4th Asc)';
                    break;
                case 21:
                    msg = msg + 'FA DO (Per 4th Desc)';
                    break;
                case 22:
                    msg = msg + 'SO RE (Per 4th Desc)';
                    break;
                case 23:
                    msg = msg + 'LA MI (Per 4th Desc)';
                    break;
                case 24:
                    msg = msg + 'TI FA (Aug 4th Desc)';
                    break;
                case 25:
                    msg = msg + 'DO SO (Perf 4th Desc)';
                    break;
                case 26:
                    msg = msg + 'RE LA (Perf 4th Desc)';
                    break;
                case 27:
                    msg = msg + 'MI TI (Perf 4th Desc)';
                    break;
                case 28:
                    msg = msg + 'DO SO (Per 5th Asc)';
                    break;
                case 29:
                    msg = msg + 'RE LA (Perf 5th Asc)';
                    break;
                case 30:
                    msg = msg + 'MI TI (Perf 5th Asc)';
                    break;
                case 31:
                    msg = msg + 'FA DO (Perf 5th Asc)';
                    break;
                case 32:
                    msg = msg + 'SO RE (Perf 5th Asc)';
                    break;
                case 33:
                    msg = msg + 'LA MI (Perf 5th Asc)';
                    break;
                case 34:
                    msg = msg + 'TI FA (Dim 5th Asc)';
                    break;
                case 35:
                    msg = msg + 'SO DO (Perf 5th Desc)';
                    break;
                case 36:
                    msg = msg + 'LA RE (Perf 5th Desc)';
                    break;
                case 37:
                    msg = msg + 'TI MI (Perf 5th Desc)';
                    break;
                case 38:
                    msg = msg + 'DO FA (Perf 5th Desc)';
                    break;
                case 39:
                    msg = msg + 'RE SO (Perf 5th Desc)';
                    break;
                case 40:
                    msg = msg + 'MI LA (Perf 5th Desc)';
                    break;
                case 41:
                    msg = msg + 'FA TI (Dim 5th Desc)';
                    break;

                default:
                    var msg2 = 'drillType ' + randomInt + ' is not supported';
                    consoleAndAlert(msg2);
            }

            $('#drill1').text(msg);
        }

    </script>
}
