@{
    ViewBag.Title = "L1C5 2.1 - Melodic 4th and 5th Vocal Drills";
}

<h2>Level 1 Chapter 5</h2>
<h5>@ViewBag.Title</h5>

<div class="card bg-info text-white">
    <div class="card-body">
        <i class="fa fa-info-circle"></i>
        <span class="pad-left-10">These are selected from the vocal drills on pages 83-90.</span>
    </div>
</div>

<div class="row">
    <div class="col-md-6 card">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
</div>

<div class="row toggle-demo" role="group">
    <div class="col-md-6 card">
        Include drills for
        <div class="switch-toggle alert alert-dark">
            <input id="4ths" name="intervaltype" type="radio" checked>
            <label for="4ths" onclick="">4ths</label>

            <input id="5ths" name="intervaltype" type="radio">
            <label for="5ths" onclick="">5ths</label>

            <input id="both" name="intervaltype" type="radio">
            <label for="both" onclick="">Both</label>

            <a class="btn btn-primary"></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 card">
        <div>
            <div class="float-left">
                <h4>Drill</h4>
            </div>
            <div class="float-right">
                <span id="spinner" class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true"></span>
                <input type="button" class="btn btn-primary margin-top-5" value="Get a New Interval" onclick="setAudDrill1Src()" />
            </div>
        </div>

        <figure>
            <figcaption>Press the play button to hear the drill</figcaption>
            <audio id="audDrill1" controls preload='none'>
                <source src='' type='audio/mpeg'>
            </audio>
        </figure>
        <p>Hover over the below to see the drill</p>
        <div class="spoiler" id="drill1"></div>
    </div>
</div>

<div id="4th-prompts">
    <h4>Perfect 4th and Augmented 4th Vocal Drills</h4>
    <div class="row">
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">DO DO DO FA FA MI (Perf 4th)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-0" checked />
                        <label class="custom-control-label small" for="cb-include-0">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 0 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">RE RE SO SO SO SO (Perf 4th)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-1" checked />
                        <label class="custom-control-label small" for="cb-include-1">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 1 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">MI MI MI LA LA SO (Perf 4th)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-2" checked />
                        <label class="custom-control-label small" for="cb-include-2">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 2 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">FA FA TI TI TI DO (Aug 4th)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-3" checked />
                        <label class="custom-control-label small" for="cb-include-3">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 3 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">SO SO SO DO DO DO (Perf 4th)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-4" checked />
                        <label class="custom-control-label small" for="cb-include-4">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 4 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">LA LA RE RE RE DO (Perf 4th)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-5" checked />
                        <label class="custom-control-label small" for="cb-include-5">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 5 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">TI TI TI MI MI MI (Perf 4th)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-6" checked />
                        <label class="custom-control-label small" for="cb-include-6">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 6 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
    </div>
</div>

<div id="5th-prompts">
    <h4>Perfect 5th and Diminished 5th Vocal Drills</h4>
    <div class="row">
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">DO DO DO SO SO SO (Perf 5th)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-7" checked />
                        <label class="custom-control-label small" for="cb-include-7">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 7 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">RE RE LA LA LA SO (Perf 5th)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-8" checked />
                        <label class="custom-control-label small" for="cb-include-8">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 8 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">MI MI MI TI TI DO (Perf 5th)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-9" checked />
                        <label class="custom-control-label small" for="cb-include-9">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 9 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">FA FA DO DO DO DO (Perf 5th)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-10" checked />
                        <label class="custom-control-label small" for="cb-include-10">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 10 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">SO SO SO RE RE DO (Perf 5th)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-11" checked />
                        <label class="custom-control-label small" for="cb-include-11">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 11 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">LA LA MI MI MI MI (Perf 5th)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-12" checked />
                        <label class="custom-control-label small" for="cb-include-12">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 12 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">FA FA FA TI TI DO (Dim 5th)</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-13" checked />
                        <label class="custom-control-label small" for="cb-include-13">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName, type = 13 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
    </div>
</div>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudDrill1Src();

            $('input[type=radio][name=intervaltype]').change(function () {
                setAudDrill1Src();
            });

            $('.cb-include').change(function () {
                setAudDrill1Src();
            });
        });

        function setAudDrill1Src() {
            $('#spinner').show();
            var baseSrc = '@Url.Action("GetMelodicDrillEx", "L1C5", new { doNoteName = ViewBag.Pitch.PitchName })';

            // Get the drills based on what the user has choosen.
            var intervalType = $("input[type=radio][name=intervaltype]:checked").attr('id');

            var minDrill;
            var maxDrill;
            var excluded = getExcluded(null, 0);

            switch (intervalType) {
                case '4ths':
                    minDrill = 0;
                    maxDrill = 6;
                    $('#4th-prompts').fadeIn();
                    $('#5th-prompts').fadeOut();
                    break;

                case '5ths':
                    minDrill = 7;
                    maxDrill = 13;
                    $('#4th-prompts').fadeOut();
                    $('#5th-prompts').fadeIn();
                    break;

                case 'both':
                    minDrill = 0;
                    maxDrill = 13;
                    $('#4th-prompts').fadeIn();
                    $('#5th-prompts').fadeIn();
                    break;

                default:
                    var msg = 'intervalType ' + intervalType + ' is not supported';
                    consoleAndToastr(msg);
            }

            var randomInt = getRandomInt(minDrill, maxDrill, excluded);

            var src = baseSrc + '&type=' + randomInt;
            $('#audDrill1').attr('src', src);

            var msg = '';
            switch (randomInt) {
                case 0:
                    msg = msg + 'DO DO DO FA FA MI (Perf 4th)';
                    break;
                case 1:
                    msg = msg + 'RE RE SO SO SO SO (Perf 4th)';
                    break;
                case 2:
                    msg = msg + 'MI MI MI LA LA SO (Perf 4th)';
                    break;
                case 3:
                    msg = msg + 'FA FA TI TI TI DO (Aug 4th)';
                    break;
                case 4:
                    msg = msg + 'SO SO SO DO DO DO (Perf 4th)';
                    break;
                case 5:
                    msg = msg + 'LA LA RE RE RE DO (Perf 4th)';
                    break;
                case 6:
                    msg = msg + 'TI TI TI MI MI MI (Perf 4th)';
                    break;
                case 7:
                    msg = msg + 'DO DO DO SO SO SO (Perf 5th)';
                    break;
                case 8:
                    msg = msg + 'RE RE LA LA LA SO (Perf 5th)';
                    break;
                case 9:
                    msg = msg + 'MI MI MI TI TI DO (Perf 5th)';
                    break;
                case 10:
                    msg = msg + 'FA FA DO DO DO DO (Perf 5th)';
                    break;
                case 11:
                    msg = msg + 'SO SO SO RE RE DO (Perf 5th)';
                    break;
                case 12:
                    msg = msg + 'LA LA MI MI MI MI (Perf 5th)';
                    break;
                case 13:
                    msg = msg + 'FA FA FA TI TI DO (Dim 5th)';
                    break;
                default:
                    msg = 'drillType ' + randomInt + ' is not supported';
                    consoleAndToastr(msg);
            }

            $('#drill1').text(msg);
            $('#spinner').fadeOut("slow");
        }

    </script>
}
