<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Eartraining</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Eartraining Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li><a href="https://github.com/MikeHildner/EarTraining">Fork Me on GitHub</a></li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    @*<li>@Html.ActionLink("Donate", "Index", "Donate")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <br /><br />
            <h5><u>Site Information</u></h5>
            <p>Please see the @Html.ActionLink("about page", "About", "Home") for an explanation of this site and eartraining information.</p>
            <div>
                <p><b>Privacy Information:</b></p>
                <ul>
                    <li>This site does not use cookies.</li>
                    <li>This site does not record or share any personal user information.</li>
                </ul>
            </div>
            <hr />
            <p>&copy; @DateTime.Now.Year - @ViewBag.StageName</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
