<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Eartraining</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("Ear Training Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse" id="navbarSupportedContent">

                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownL1C1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Level 1 Chapter 1
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownL1C1">
                            @Html.ActionLink("Solfeg Resolutions", "SolfegResolutions", "L1C1", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Pitch Identification", "PitchIdentification", "L1C1", null, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Original Page", "Index", "L1C1", null, new { @class = "dropdown-item" })
                        </div>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownL1C2">
                            @Html.ActionLink("Melodic Maj 3rd and Min 6th", "MelodicMaj3rdMin6th", "L1C2", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Harmonics Maj 3rd and Min 6th", "HarmonicMaj3rdMin6th", "L1C2", null, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Original Page", "Index", "L1C2", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Please see the @Html.ActionLink("about page", "About", "Home") for an explanation of this site and eartraining information.</p>
            <p class="underline">Privacy information:</p>
            <ul>
                <li>This site does not use cookies</li>
                <li>This site does not collect, record or share any personal information</li>
            </ul>
            <div class="row">
                <div class="col-md-6">
                    <a href="https://github.com/MikeHildner/EarTraining/issues" target="_blank">Report an Issue</a>
                </div>
                <div class="col-md-6 text-align-right">
                    <a href="https://github.com/MikeHildner/EarTraining" target="blank">Fork Me on GitHub</a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            deleteOldFiles();
            //setupImagesToPlayDO();
        });

        function deleteOldFiles() {
            $.ajax({
                url: '@Url.Content("~/")' + 'base/DeleteOldFiles'
            });
        }
    </script>
</body>
</html>
