<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Eartraining</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("Ear Training Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse" id="navbarSupportedContent">

                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownL1C1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Level 1 Chapter 1
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownL1C1">
                            @Html.ActionLink("Solfeg Resolutions", "SolfegResolutions", "L1C1", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Pitch Identification", "PitchIdentification", "L1C1", null, new { @class = "dropdown-item" })
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownL1C2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Level 1 Chapter 2
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownL1C2">
                            @Html.ActionLink("Melodic Maj 3rd and Min 6th", "MelodicMaj3rdMin6th", "L1C2", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Harmonic Maj 3rd and Min 6th", "HarmonicMaj3rdMin6th", "L1C2", null, new { @class = "dropdown-item" })
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownL1C3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Level 1 Chapter 3
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownL1C3">
                            @Html.ActionLink("Melodic Min 3rd and Maj 6th", "MelodicMin3rdMaj6th", "L1C3", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Harmonic Min 3rd and Maj 6th", "HarmonicMin3rdMaj6th", "L1C3", null, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("I IV V Diatonic Triad Recognition", "Index", "L1C3", null, new { @class = "dropdown-item" })
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownL1C4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Level 1 Chapter 4
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownL1C4">
                            @Html.ActionLink("2 and 3 Chord Progressions", "Index", "L1C4", null, new { @class = "dropdown-item" })
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownL1C5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Level 1 Chapter 5
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownL1C5">
                            @Html.ActionLink("4th and 5th Melodic Intervals", "MelodicIntervals", "L1C5", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("4th and 5th Harmonic Intervals", "HarmonicIntervals", "L1C5", null, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("I IV V vi Diatonic Triad Recognition", "DiatonicTriadRecognition", "L1C5", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("2 and 3 Chord Progressions", "DiatonicTriadProgressions", "L1C5", null, new { @class = "dropdown-item" })

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownL1C6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Level 1 Chapter 6
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownL1C6">
                            @Html.ActionLink("Melodic Maj 2nd and Min 7th Intervals", "MelodicIntervals", "L1C6", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Harmonic Maj 2nd and Min 7th Intervals", "HarmonicIntervals", "L1C6", null, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("I IV V vi iii Diatonic Triad Recognition", "DiatonicTriadRecognition", "L1C6", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("2 and 3 Chord Progressions", "DiatonicTriadProgressions", "L1C6", null, new { @class = "dropdown-item" })
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOther" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Other
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownOther">
                            @Html.ActionLink("Find the DO", "Index", "DO", null, new { @class = "dropdown-item" })
                            @*@Html.ActionLink("Solfeg Pitch Identification", "Index", "PitchIdentification", null, new { @class = "dropdown-item" })*@
                            @Html.ActionLink("All Solfeg Syllables", "Index", "Solfeg", null, new { @class = "dropdown-item" })
                        </div>
                    </li>

                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()

        @if (ViewBag.ShowPlayDoTriad == true)
        {
            <div class="float-button-2 bg-primary">
                <audio id="triadPlayer" preload='none'>
                    <source src='@Url.Action("GetTriadEx", "L1C3", new { doNoteName = ViewBag.Pitch.PitchName, triadtype = 0, inversion = 0 })' type='audio/mpeg'>
                </audio>
                <div>
                    <img class="my-float-2" src='@Url.Content("~/Content/Images/chord-white.png")' onclick="document.getElementById('triadPlayer').play()" title="Play the DO triad (root)" />
                </div>
            </div>
        }

        @if (ViewBag.Pitch != null)
        {
            <div class="float-button-1 bg-primary">
                <audio id="doPlayer" preload='none'>
                    <source src='@Url.Action("GetDOEx", "DO", new { doNoteName = ViewBag.Pitch.PitchName })' type='audio/mpeg'>
                </audio>
                <div>
                    <img class="my-float-1" src='@Url.Content("~/Content/Images/quarter-note-white.png")' onclick="document.getElementById('doPlayer').play()" title="Play the DO" />
                </div>
            </div>
        }

        <hr />

        <footer>
            <p>Please use the menu to explore the pages of this site, or see the @Html.ActionLink("about page", "About", "Home") for information.</p>
            <p class="underline">Privacy information:</p>
            <ul>
                <li>We don't use cookies</li>
                <li>We don't collect, record or share any personal information</li>
            </ul>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            deleteOldFiles();

            $(window).resize(function () {
                setBodyMargin();
            });

            setBodyMargin();
        });

        function deleteOldFiles() {
            $.ajax({
                url: '@Url.Content("~/")' + 'base/DeleteOldFiles'
            });
        }

        function setBodyMargin() {
            var heightSlider = $('.navbar').height();
            $('.body-content').css({ marginTop: heightSlider + 0 + 'px' });
        }

    </script>
</body>
</html>
