<h4>All Pitches</h4>
<div class="row">
    <div class="col-md-4">
        <p><b>DO</b> - Tonic</p>
        <audio controls preload='none'>
            <source src='@Url.Action("GetPitch", "PitchIdentification", new { frequency = ViewBag.Pitch.Hertz, type = 0 })' type='audio/wav'>
        </audio>
    </div>
    <div class="col-md-4">
        <p><b>DI / RA</b> - Lowered 2nd</p>
        <audio controls preload='none'>
            <source src='@Url.Action("GetPitch", "PitchIdentification", new { frequency = ViewBag.Pitch.Hertz, type = 1 })' type='audio/wav'>
        </audio>
    </div>
    <div class="col-md-4">
        <p><b>RE</b> - 2nd</p>
        <audio controls preload='none'>
            <source src='@Url.Action("GetPitch", "PitchIdentification", new { frequency = ViewBag.Pitch.Hertz, type = 2 })' type='audio/wav'>
        </audio>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p><b>RI / ME</b> - Minor 3rd</p>
        <audio controls preload='none'>
            <source src='@Url.Action("GetPitch", "PitchIdentification", new { frequency = ViewBag.Pitch.Hertz, type = 3 })' type='audio/wav'>
        </audio>
    </div>
    <div class="col-md-4">
        <p><b>MI</b> - Major 3rd</p>
        <audio controls preload='none'>
            <source src='@Url.Action("GetPitch", "PitchIdentification", new { frequency = ViewBag.Pitch.Hertz, type = 4 })' type='audio/wav'>
        </audio>
    </div>
    <div class="col-md-4">
        <p><b>FA</b> - Perfect 4th</p>
        <audio controls preload='none'>
            <source src='@Url.Action("GetPitch", "PitchIdentification", new { frequency = ViewBag.Pitch.Hertz, type = 5 })' type='audio/wav'>
        </audio>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p><b>FI / SE</b> - Diminished 5th</p>
        <audio controls preload='none'>
            <source src='@Url.Action("GetPitch", "PitchIdentification", new { frequency = ViewBag.Pitch.Hertz, type = 6 })' type='audio/wav'>
        </audio>
    </div>
    <div class="col-md-4">
        <p><b>SO</b> - Perfect 5th</p>
        <audio controls preload='none'>
            <source src='@Url.Action("GetPitch", "PitchIdentification", new { frequency = ViewBag.Pitch.Hertz, type = 7 })' type='audio/wav'>
        </audio>
    </div>
    <div class="col-md-4">
        <p><b>SI /LE</b> - Minor 6th</p>
        <audio controls preload='none'>
            <source src='@Url.Action("GetPitch", "PitchIdentification", new { frequency = ViewBag.Pitch.Hertz, type = 8 })' type='audio/wav'>
        </audio>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p><b>LA</b> - Major 6th</p>
        <audio controls preload='none'>
            <source src='@Url.Action("GetPitch", "PitchIdentification", new { frequency = ViewBag.Pitch.Hertz, type = 9 })' type='audio/wav'>
        </audio>
    </div>
    <div class="col-md-4">
        <p><b>LI / TE</b> - Minor 7th</p>
        <audio controls preload='none'>
            <source src='@Url.Action("GetPitch", "PitchIdentification", new { frequency = ViewBag.Pitch.Hertz, type = 10 })' type='audio/wav'>
        </audio>
    </div>
    <div class="col-md-4">
        <p><b>TI</b> - Major 7th</p>
        <audio controls preload='none'>
            <source src='@Url.Action("GetPitch", "PitchIdentification", new { frequency = ViewBag.Pitch.Hertz, type = 11 })' type='audio/wav'>
        </audio>
    </div>
</div>
