<h4>All Pitches</h4>
<div class="row">
    <div class="col-md-4">
        <p><b>DO</b> - Tonic</p>
        <figure>
            <figcaption><img class="piano" /></figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetPitchEx", "PitchIdentification", new { doNoteName = ViewBag.Pitch.PitchName, type = 0 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <p><b>DI / RA</b> - Lowered 2nd</p>
        <figure>
            <figcaption><img class="piano" /></figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetPitchEx", "PitchIdentification", new { doNoteName = ViewBag.Pitch.PitchName, type = 1 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <p><b>RE</b> - 2nd</p>
        <figure>
            <figcaption><img class="piano" /></figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetPitchEx", "PitchIdentification", new { doNoteName = ViewBag.Pitch.PitchName, type = 2 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p><b>RI / ME</b> - Minor 3rd</p>
        <figure>
            <figcaption><img class="piano" /></figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetPitchEx", "PitchIdentification", new { doNoteName = ViewBag.Pitch.PitchName, type = 3 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <p><b>MI</b> - Major 3rd</p>
        <figure>
            <figcaption><img class="piano" /></figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetPitchEx", "PitchIdentification", new { doNoteName = ViewBag.Pitch.PitchName, type = 4 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <p><b>FA</b> - Perfect 4th</p>
        <figure>
            <figcaption><img class="piano" /></figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetPitchEx", "PitchIdentification", new { doNoteName = ViewBag.Pitch.PitchName, type = 5 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p><b>FI / SE</b> - Diminished 5th</p>
        <figure>
            <figcaption><img class="piano" /></figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetPitchEx", "PitchIdentification", new { doNoteName = ViewBag.Pitch.PitchName, type = 6 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <p><b>SO</b> - Perfect 5th</p>
        <figure>
            <figcaption><img class="piano" /></figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetPitchEx", "PitchIdentification", new { doNoteName = ViewBag.Pitch.PitchName, type = 7 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <p><b>SI /LE</b> - Minor 6th</p>
        <figure>
            <figcaption><img class="piano" /></figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetPitchEx", "PitchIdentification", new { doNoteName = ViewBag.Pitch.PitchName, type = 8 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p><b>LA</b> - Major 6th</p>
        <figure>
            <figcaption><img class="piano" /></figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetPitchEx", "PitchIdentification", new { doNoteName = ViewBag.Pitch.PitchName, type = 9 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <p><b>LI / TE</b> - Minor 7th</p>
        <figure>
            <figcaption><img class="piano" /></figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetPitchEx", "PitchIdentification", new { doNoteName = ViewBag.Pitch.PitchName, type = 10 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <p><b>TI</b> - Major 7th</p>
        <figure>
            <figcaption><img class="piano" /></figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetPitchEx", "PitchIdentification", new { doNoteName = ViewBag.Pitch.PitchName, type = 11 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
</div>
