@{
    ViewBag.Title = "Level 1, Chapter 4";
}

<h2>@ViewBag.Title</h2>
<h5>2 and 3 Chord Progrssions</h5>
<hr />

<div class="row">
    <div class="col-md-12">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
</div>

<section id="tabs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="true">2 Chord Progressions</a>
                        <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3" aria-selected="false">3 Chord Progressions</a>
                    </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
                        <h3>Drill</h3>

                        <div class="row">
                            <div class="col-md-12">
                                <input type="button" value="Get a New Progression" onclick="setAudProgression2Src()" />
                                <figure>
                                    <figcaption><img class="piano play-do" /></figcaption>
                                    <audio id="audProgression2" controls preload='none'>
                                        <source src='' type='audio/mpeg'>
                                    </audio>
                                </figure>
                                <p><span class="spoiler" id="progression2">Putting some text in here just to make it long enough</span></p>
                            </div>
                        </div>

                        <h4>2 Chord Progression Prompts</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <p>IV(2nd) - I(root)</p>
                                <figure>
                                    <figcaption><img class="piano play-do" /></figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C4", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 0 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4">
                                <p>V(1st) - I(root)</p>
                                <figure>
                                    <figcaption><img class="piano play-do" /></figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C4", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 1 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4">
                                <p>V(root) - IV(root)</p>
                                <figure>
                                    <figcaption><img class="piano play-do" /></figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C4", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 2 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4">
                                <p>I(root) - IV(2nd)</p>
                                <figure>
                                    <figcaption><img class="piano play-do" /></figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get2ChordProgressionEx", "L1C4", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 3 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
                        <h3>Drill</h3>

                        <div class="row">
                            <div class="col-md-12">
                                <input type="button" value="Get a New Progression" onclick="setAudProgression3Src()" />
                                <figure>
                                    <figcaption><img class="piano play-do" /></figcaption>
                                    <audio id="audProgression3" controls preload='none'>
                                        <source src='' type='audio/mpeg'>
                                    </audio>
                                </figure>
                                <p><span class="spoiler" id="progression3">Putting some text in here just to make it long enough</span></p>
                            </div>
                        </div>

                        <h4>3 Chord Progression Prompts</h4>

                        <div class="row">
                            <div class="col-md-4">
                                <p>IV(2nd) - V(1st) - I(root)</p>
                                <figure>
                                    <figcaption><img class="piano play-do" /></figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C4", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 4 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4">
                                <p>V(1st) - IV(2nd) - I(root)</p>
                                <figure>
                                    <figcaption><img class="piano play-do" /></figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C4", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 5 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>

                            <div class="col-md-4">
                                <p>I(root) - IV(2nd) - V(1st)</p>
                                <figure>
                                    <figcaption><img class="piano play-do" /></figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("Get3ChordProgressionEx", "L1C4", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 6 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                        </div>

                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</section>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudProgression2Src();
            setAudProgression3Src();
        });

        function setAudProgression2Src() {
            var baseSrc = '@Url.Action("Get2ChordProgressionEx", "L1C4", new { doNoteName = ViewBag.Pitch.PitchName })';
            var progressiontype = getRandomInt(0, 3);
            var src = baseSrc + '&progressiontype=' + progressiontype;
            $('#audProgression2').attr('src', src);

            var msg = 'Your progression is ';
            switch (progressiontype) {
                case 0:
                    msg = msg + 'IV(2nd) - I(root)';
                    break;
                case 1:
                    msg = msg + 'V(1st) - I(root)';
                    break;
                case 2:
                    msg = msg + 'V(root) - IV(root)';
                    break;
                case 3:
                    msg = msg + 'I(root) - IV(2nd)';
                    break;
            }

            $('#progression2').text(msg);
        }

        function setAudProgression3Src() {
            var baseSrc = '@Url.Action("Get3ChordProgressionEx", "L1C4", new { doNoteName = ViewBag.Pitch.PitchName })';
            var progressiontype = getRandomInt(4, 6);
            var src = baseSrc + '&progressiontype=' + progressiontype;
            $('#audProgression3').attr('src', src);

            var msg = 'Your progression is ';
            switch (progressiontype) {
                case 4:
                    msg = msg + 'IV(2nd) - V(1st) - I(root)';
                    break;

                case 5:
                    msg = msg + 'V(1st) - IV(2nd) - I(root)';
                    break;

                case 6:
                    msg = msg + 'I(root) - IV(2nd) - V(1st)';
                    break;
            }

            $('#progression3').text(msg);
        }
    </script>
}
