@{
    ViewBag.Title = "Level 1 Chapter 4";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        2 and 3 Chord Progression
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Each time this page is refreshed, a new DO is assigned.</p>
        <input type="button" value="Get a New DO" onclick="location.href='@Url.Action("Index", "L1C4")'" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <audio controls preload='none'>
            <source src='@Url.Action("GetDO", "DO", new { frequency = ViewBag.Pitch.Hertz })' type='audio/mpeg'>
        </audio>
        <div class="col-md-12">
            <p>Hover over the below to reveal the DO</p>
            <p class="spoiler">Your DO is @ViewBag.Pitch.PitchName - @ViewBag.Pitch.Hertz Hz</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        2 Chord Progressions
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="button" value="Get a New Progression" onclick="setAudioSrc()" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <audio id="audio" controls preload='none'>
            <source src='' type='audio/mpeg'>
        </audio>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-12">
        <p>Hover over the below to reveal the progression</p>
        <p class="spoiler" id="progression">Your progression here</p>
    </div>
</div>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudioSrc();
        });

        function setAudioSrc() {
            var baseSrc = '@Url.Action("GetProgression", "L1C4", new { frequency = ViewBag.Pitch.Hertz })';
            var progressiontype = getRandomInt(0, 2);
            var src = baseSrc + '&progressiontype=' + progressiontype;
            $('#audio').attr('src', src);

            var msg = 'Your progression is ';
            switch (progressiontype) {
                case 0:
                    msg = msg + 'IV - I';
                    break;
                case 1:
                    msg = msg + 'V - I';
                    break;
                case 2:
                    msg = msg + 'V - IV';
                    break;
            }

            $('#progression').text(msg);
        }

    </script>
}
