
@{
    ViewBag.Title = "L2C4 1 - Major Triad Progressions - Pairs";
}
<h4 class="text-warning">Not yet fully implemented</h4>
<h2>Level 2 Chapter 4</h2>
<h5>@ViewBag.Title</h5>

<div class="card bg-info text-white">
    <div class="card-body">
        <i class="fa fa-info-circle"></i>
        <span class="pad-left-10">These are selected from the major triad progression questions on page 63</span>
    </div>
</div>
<div class="card bg-info text-white margin-top-5">
    <div class="card-body">
        <i class="fa fa-pencil"></i>
        <span class="pad-left-10">Note: When you get a new progression, or change which drills to include, you will also get a new randomly assigned key</span>
    </div>
</div>

<div class="row margin-top-5">
    <div class="col-md-6 card">
        <div>
            <div class="float-left">
                <h4>Drill</h4>
            </div>
            <div class="float-right">
                <input type="button" class="btn btn-primary margin-top-5" value="Get a New Progression" onclick="setAudProgressionSrc()" />
            </div>
        </div>

        <figure>
            <figcaption>Press the play button to hear the progression</figcaption>
            <audio id="audProgression" controls preload='none'>
                <source src='' type='audio/mpeg'>
            </audio>
        </figure>
        <p>Hover over the below to see the progression</p>
        <div class="spoiler" id="progression"></div>
    </div>
</div>

<!-- Circle of 5ths -->
<div class="row">
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">5 (2nd) - (1st)</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-0" checked />
                    <label class="custom-control-label small" for="cb-include-0">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("Get2ChordProgression", "L2C4", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 0 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">5 (1st) - (root)</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-1" checked />
                    <label class="custom-control-label small" for="cb-include-1">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("Get2ChordProgression", "L2C4", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 1 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">5 (root) - (2nd)</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-2" checked />
                    <label class="custom-control-label small" for="cb-include-2">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("Get2ChordProgression", "L2C4", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 2 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
</div>

<!-- Circle of 4ths -->
<div class="row">
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">4 (1st) - (2nd)</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-3" checked />
                    <label class="custom-control-label small" for="cb-include-3">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("Get2ChordProgression", "L2C4", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 3 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">4 (root) - (1st)</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-4" checked />
                    <label class="custom-control-label small" for="cb-include-4">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("Get2ChordProgression", "L2C4", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 4 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">4 (2nd) - (root)</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-5" checked />
                    <label class="custom-control-label small" for="cb-include-5">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("Get2ChordProgression", "L2C4", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 5 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
</div>

<!-- Half-step up / down -->
<div class="row">
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">1/2U (root) - (root)</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-6" checked />
                    <label class="custom-control-label small" for="cb-include-6">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("Get2ChordProgression", "L2C4", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 6 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">1/2U (root) - (2nd)</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-7" checked />
                    <label class="custom-control-label small" for="cb-include-7">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("Get2ChordProgression", "L2C4", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 7 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">1/2D (root) - (root)</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-8" checked />
                    <label class="custom-control-label small" for="cb-include-8">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("Get2ChordProgression", "L2C4", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 8 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">1/2D (root) - (1st)</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-9" checked />
                    <label class="custom-control-label small" for="cb-include-9">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("Get2ChordProgression", "L2C4", new { doNoteName = ViewBag.Pitch.PitchName, progressionType = 9 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
</div>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudProgressionSrc();

            $('.cb-include').change(function () {
                setAudProgressionSrc();
            });
        });

        function setAudProgressionSrc() {
            var baseSrc = '@Url.Action("Get2ChordProgression", "L2C4", new { doNoteName = ViewBag.Pitch.PitchName })';
            var excluded = getExcluded(null, 0);
            var progressiontype = getRandomInt(0, 9, excluded);
            var src = baseSrc + '&progressiontype=' + progressiontype;
            //$('#audProgression').attr('src', src);
            $('#audProgression source').attr('src', src);

            var msg = '';
            var friendlyMessage = 'I\'m a message!';;
            switch (progressiontype) {
                case 0:
                    msg = msg + 'V (2nd) - I (1st)';
                    friendlyMessage = '5';
                    break;
                case 1:
                    msg = msg + 'V (1st) - I (root)';
                    friendlyMessage = '5';
                    break;
                case 2:
                    msg = msg + 'V (root) - I (2nd)';
                    friendlyMessage = '5';
                    break;
                case 3:
                    msg = msg + 'IV (1st) - I (2nd)';
                    friendlyMessage = '4';
                    break;
                case 4:
                    msg = msg + 'IV (root) - I (1st)';
                    friendlyMessage = '4';
                    break;
                case 5:
                    msg = msg + 'IV (2nd) - I (root)';
                    friendlyMessage = '4';
                    break;
                case 6:
                    msg = msg + 'I (root) - bII (root)';
                    friendlyMessage = '1/2U';
                    break;
                case 7:
                    msg = msg + 'I (root) - bII (2nd)';
                    friendlyMessage = '1/2U';
                    break;
                case 8:
                    msg = msg + 'I (root) - VII (root)';
                    friendlyMessage = '1/2D';
                    break;
                case 9:
                    msg = msg + 'I (root) - VII (1st)';
                    friendlyMessage = '1/2D';
                    break;
                default:
                    consoleAndAlert("progressiontype '" + progressiontype + "' is not supported.");
                    break;
            }

            friendlyMessage = '<span class="font-weight-bold">' + friendlyMessage + '</span>';

            //var doInfo = '@ViewBag.Pitch.PitchName - @ViewBag.Pitch.Hertz Hz';
            //var doInfo = '@ViewBag.Pitch.PitchName';
            //changeAllDoNoteNames(doInfo);
            //var progressionTable = buildProgressionTable(doInfo, msg);
            //$('#progression').html(progressionTable);

            getNewDo(doTheChange, msg, friendlyMessage);
        }

        function doTheChange(pitchName, msg, friendlyMessage) {
            changeAllDoNoteNames(pitchName);
            var progressionTable = buildProgressionTable(pitchName, msg, friendlyMessage, true);
            $('#progression').html(progressionTable);
        }
    </script>
}

