@{
    ViewBag.Title = "Solfeg Resolutions without DO";
}

<h2>Level 1 Chapter 1</h2>

<h5>@ViewBag.Title</h5>
<hr />
<h4 class="text-info">Experimental</h4>
<div class="row">
    <div class="col-md-6">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        <h4>Drill</h4>
        <figure>
            <figcaption>Press the play button to hear the resolution</figcaption>
            <audio id="audResolution" controls preload='none'>
                <source src='@Url.Action("GetResolutionNoDO", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName })' type='audio/mpeg'>
            </audio>
        </figure>
        <p>Hover over the below to reveal the resolution</p>
        <div class="spoiler" id="resolution"></div>
        <div class="pad-top-10">
            <input type="button" class="btn btn-primary" value="Get a New Resolution" onclick="setAudResolutionSrc()" />
        </div>
    </div>
</div>
<hr />


<h4>Practice Resolutions</h4>

<div class="row">
    <div class="col-md-4 card">
        <audio id="audDrill0" preload='none'>
            <source src='@Url.Action("GetResolutionNoDO", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 0 })' type='audio/mpeg'>
        </audio>
        <div style="float:left;">RE DO</div>
        <div style="float:right;"><label><input type="checkbox" class="cb-include" id="cb-include-0" checked>Include in Drills</label></div>
        <div style="clear:both;">
            <i class="fa fa-youtube-play fa-4x text-primary" onclick="playAudio('audDrill0');"></i>
        </div>
    </div>
    <div class="col-md-4 card">
        <audio id="audDrill1" preload='none'>
            <source src='@Url.Action("GetResolutionNoDO", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 1 })' type='audio/mpeg'>
        </audio>
        <div style="float:left;">FA MI</div>
        <div style="float:right;"><label><input type="checkbox" class="cb-include" id="cb-include-1" checked>Include in Drills</label></div>
        <div style="clear:both;">
            <i class="fa fa-youtube-play fa-4x text-primary" onclick="playAudio('audDrill1');"></i>
        </div>
    </div>
    <div class="col-md-4 card">
        <audio id="audDrill2" preload='none'>
            <source src='@Url.Action("GetResolutionNoDO", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 2 })' type='audio/mpeg'>
        </audio>
        <div style="float:left;">LA SO</div>
        <div style="float:right;"><label><input type="checkbox" class="cb-include" id="cb-include-2" checked>Include in Drills</label></div>
        <div style="clear:both;">
            <i class="fa fa-youtube-play fa-4x text-primary" onclick="playAudio('audDrill2');"></i>
        </div>
    </div>
    <div class="col-md-4 card">
        <audio id="audDrill3" preload='none'>
            <source src='@Url.Action("GetResolutionNoDO", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 3 })' type='audio/mpeg'>
        </audio>
        <div style="float:left;">(high)TI DO</div>
        <div style="float:right;"><label><input type="checkbox" class="cb-include" id="cb-include-3" checked>Include in Drills</label></div>
        <div style="clear:both;">
            <i class="fa fa-youtube-play fa-4x text-primary" onclick="playAudio('audDrill3');"></i>
        </div>
    </div>
    <div class="col-md-4 card">
        <audio id="audDrill4" preload='none'>
            <source src='@Url.Action("GetResolutionNoDO", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 4 })' type='audio/mpeg'>
        </audio>
        <div style="float:left;">(low)TI DO</div>
        <div style="float:right;"><label><input type="checkbox" class="cb-include" id="cb-include-4" checked>Include in Drills</label></div>
        <div style="clear:both;">
            <i class="fa fa-youtube-play fa-4x text-primary" onclick="playAudio('audDrill4');"></i>
        </div>
    </div>

</div>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudResolutionSrc();
        });

        function setAudResolutionSrc() {
            var baseSrc = '@Url.Action("GetResolutionNoDO", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName })';
            var excluded = getExcluded();
            var randomInt = getRandomInt(0, 4, excluded);
            var src = baseSrc + '&type=' + randomInt;
            $('#audResolution').attr('src', src);

            var msg = '';
            switch (randomInt) {
                case 0:
                    msg = msg + 'RE DO';
                    break;
                case 1:
                    msg = msg + 'FA MI';
                    break;
                case 2:
                    msg = msg + 'LA SO';
                    break;
                case 3:
                    msg = msg + '(high)TI DO';
                    break;
                case 4:
                    msg = msg + '(low)TI DO';
                    break;
                default:
                    consoleAndAlert('Resolution type \'' + randomInt + '\' is not supported.');
            }

            $('#resolution').text(msg);
        }

        function playAudio(id) {
            var audio = document.getElementById(id);
            audio.play();
        }

        function getExcluded() {
            var excluded = [];
            $('.cb-include').each(function (index, value) {
                var checked = $(this).is(':checked')
                if (!checked) {
                    excluded.push(index);
                }
            });
            return excluded;
        }
    </script>
}
