@{
    ViewBag.Title = "Level 1, Chapter 1";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-12">
        Listen, sing and determine the resolutions.
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Each time this page is refreshed, a new DO is assigned.</p>
        <input type="button" value="Get a New DO" onclick="location.href='@Url.Action("Index", "L1C1")'" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <audio controls preload='none'>
            <source src='@Url.Action("GetDO", "L1C1", new { frequency = ViewBag.Pitch.Hertz })' type='audio/wav'>
        </audio>
        <div class="col-md-12">
            <p>Hover over the below to reveal the DO</p>
            <p class="spoiler">Your DO is @ViewBag.Pitch.PitchName - @ViewBag.Pitch.Hertz Hz</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>

<h4>Practice Resolutions</h4>
<div class="row">
    <div class="col-md-4">
        <p>DO DO RE DO</p>
        <audio controls preload='none'>
            <source src='@Url.Action("GetResolution", "L1C1", new { frequency = ViewBag.Pitch.Hertz, type = 0 })' type='audio/wav'>
        </audio>
    </div>
    <div class="col-md-4">
        <p>DO DO FA MI</p>
        <audio controls preload='none'>
            <source src='@Url.Action("GetResolution", "L1C1", new { frequency = ViewBag.Pitch.Hertz, type = 1 })' type='audio/wav'>
        </audio>
    </div>
    <div class="col-md-4">
        <p>DO DO LA SO</p>
        <audio controls preload='none'>
            <source src='@Url.Action("GetResolution", "L1C1", new { frequency = ViewBag.Pitch.Hertz, type = 2 })' type='audio/wav'>
        </audio>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>DO DO TI (High)DO</p>
        <audio controls preload='none'>
            <source src='@Url.Action("GetResolution", "L1C1", new { frequency = ViewBag.Pitch.Hertz, type = 3 })' type='audio/wav'>
        </audio>
    </div>
    <div class="col-md-4">
        <p>DO DO (Low)TI DO</p>
        <audio controls preload='none'>
            <source src='@Url.Action("GetResolution", "L1C1", new { frequency = ViewBag.Pitch.Hertz, type = 4 })' type='audio/wav'>
        </audio>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Drill</h4>
        <input type="button" value="Get a New Resolution" onclick="setAudResolutionSrc()" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <audio id="audResolution" controls preload='none'>
            <source src='@Url.Action("GetResolution", "L1C1", new { frequency = ViewBag.Pitch.Hertz })' type='audio/wav'>
        </audio>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-12">
        <p>Hover over the below to reveal the resolution</p>
        <p class="spoiler" id="resolution">Your resolution goes here @ViewBag.ResolutionName<</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
@{
    Html.RenderPartial("AllPitches");
}

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudResolutionSrc();
        });

        function setAudResolutionSrc() {
            var baseSrc = '@Url.Action("GetResolution", "L1C1", new { frequency = ViewBag.Pitch.Hertz })';
            var randomInt = getRandomInt(0, 4);
            var src = baseSrc + '&type=' + randomInt;
            $('#audResolution').attr('src', src);

            var msg = 'Your resolution is ';
            switch (randomInt) {
                case 0:
                    msg = msg + 'DO DO RE DO';
                    break;
                case 1:
                    msg = msg + 'DO DO FA MI';
                    break;
                case 2:
                    msg = msg + 'DO DO LA SO';
                    break;
                case 3:
                    msg = msg + 'DO DO TI DO';
                    break;
                case 4:
                    msg = msg + 'DO DO TI DO';
                    break;
            }

            //msg = msg + '</b>';
            $('#resolution').text(msg);
    }

        function getRandomInt(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

    </script>
}
