@{
    ViewBag.Title = "Level 1, Chapter 1";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-12">
        Listen, sing and determine the resolutions.
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Each time this page is refreshed, a new DO is assigned.</p>
        <input type="button" value="Get a New DO" onclick="location.href='@Url.Action("Index", "L1C1")'" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <audio controls preload='none'>
            <source src='@Url.Action("GetDO", "L1C1", new { frequency = ViewBag.Pitch.Hertz })' type='audio/wav'>
        </audio>
        <div class="col-md-12">
            <p>Hover over the below to reveal the DO</p>
            <p class="spoiler">Your DO is <b>@ViewBag.Pitch.PitchName</b> - @ViewBag.Pitch.Hertz Hz</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <audio controls preload='none'>
            <source src='@Url.Action("GetResolution", "L1C1", new { frequency = ViewBag.Pitch.Hertz })' type='audio/wav'>
        </audio>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-12">
        <p>Hover over the below to reveal the resolution</p>
        <p class="spoiler">Your resolution is <b>@ViewBag.ResolutionName</b></p>
    </div>
</div>
