@{
    ViewBag.Title = "Level 1, Chapter 1";
}

<h2>@ViewBag.Title</h2>

<h5>Pitch Identification</h5>
<hr />

<div class="row">
    <div class="col-md-4">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
</div>

<hr />



<div class="row">
    <div class="col-md-12">
        <h4>Drill</h4>
        <input type="button" value="Get a New Note" onclick="setAudNoteSrc()" />
        <figure>
            <figcaption><img class="piano" /></figcaption>
            <audio id="audNote" controls preload='none'>
                <source src='' type='audio/mpeg'>
            </audio>
        </figure>
        <div class="spoiler" id="note"></div>
    </div>
</div>
<hr />
<h3>Practice Notes</h3>
<div class="row">
    <div class="col-md-4">
        <figure>
            <figcaption><img class="piano" /> TI</figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = -1 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <figure>
            <figcaption><img class="piano" /> DO</figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 0 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <figure>
            <figcaption><img class="piano" /> RE</figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 2 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <figure>
            <figcaption><img class="piano" /> MI</figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 4 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <figure>
            <figcaption><img class="piano" /> FA</figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 5 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <figure>
            <figcaption><img class="piano" /> SO</figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 7 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <figure>
            <figcaption><img class="piano" /> LA</figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 9 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <figure>
            <figcaption><img class="piano" /> TI</figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 11 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4">
        <figure>
            <figcaption><img class="piano" /> DO</figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 12 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
</div>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudNoteSrc();
        });

        function setAudNoteSrc() {
            var baseSrc = '@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName })';
            var randomInt = getRandomInt(-1, 12, [1, 3, 6, 8, 10]);
            var src = baseSrc + '&type=' + randomInt;
            $('#audNote').attr('src', src);

            var msg = 'Your note is ';
            switch (randomInt) {
                case -1:
                    msg = msg + 'TI';
                    break;
                case 0:
                    msg = msg + 'DO';
                    break;
                case 2:
                    msg = msg + 'RE';
                    break;
                case 4:
                    msg = msg + 'MI';
                    break;
                case 5:
                    msg = msg + 'FA';
                    break;
                case 7:
                    msg = msg + 'SO';
                    break;
                case 9:
                    msg = msg + 'LA';
                    break;
                case 11:
                    msg = msg + 'TI';
                    break;
                case 12:
                    msg = msg + 'DO';
                    break;
                default:
                    consoleAndAlert('Note type \'' + randomInt + '\' is not supported.');
            }

            $('#note').text(msg);
        }

    </script>
}
