@{
    ViewBag.Title = "Pitch Identification";
}

<h2>Level 1 Chapter 1</h2>

<h5>@ViewBag.Title</h5>

<div class="row">
    <div class="col-md-6 card">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
</div>

<div class="row">
    <div class="col-md-6 card">
        <h4>Drill</h4>
        <figure>
            <figcaption>Press the play button to hear the note</figcaption>
            <audio id="audNote" controls preload='none'>
                <source src='' type='audio/mpeg'>
            </audio>
        </figure>
        <p>Hover over the below to reveal the note</p>
        <div class="spoiler" id="note"></div>
        <div class="pad-top-10">
            <input type="button" class="btn btn-primary" value="Get a New Note" onclick="setAudNoteSrc()" />
        </div>
    </div>
</div>

<h3>Practice Notes</h3>
<div class="row">
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">TI</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include--1" checked />
                    <label class="custom-control-label small" for="cb-include--1">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = -1 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">DO</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-0" checked />
                    <label class="custom-control-label small" for="cb-include-0">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 0 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">RE</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-2" checked />
                    <label class="custom-control-label small" for="cb-include-2">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 2 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">MI</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-4" checked />
                    <label class="custom-control-label small" for="cb-include-4">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 4 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">FA</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-5" checked />
                    <label class="custom-control-label small" for="cb-include-5">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 5 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">SO</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-7" checked />
                    <label class="custom-control-label small" for="cb-include-7">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 7 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">LA</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-9" checked />
                    <label class="custom-control-label small" for="cb-include-9">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 9 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">TI</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-11" checked />
                    <label class="custom-control-label small" for="cb-include-11">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 11 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">DO</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-12" checked />
                    <label class="custom-control-label small" for="cb-include-12">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 12 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
</div>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudNoteSrc();
            $('.cb-include').change(function () {
                setAudNoteSrc();
            });
        });

        function setAudNoteSrc() {
            var baseSrc = '@Url.Action("GetNoteEx", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName })';
            var excluded = [1, 3, 6, 8, 10];
            excluded = getExcluded(excluded, 0);
            var randomInt = getRandomInt(-1, 12, excluded);
            var src = baseSrc + '&type=' + randomInt;
            $('#audNote').attr('src', src);

            var msg = '';
            switch (randomInt) {
                case -1:
                    msg = msg + 'TI';
                    break;
                case 0:
                    msg = msg + 'DO';
                    break;
                case 2:
                    msg = msg + 'RE';
                    break;
                case 4:
                    msg = msg + 'MI';
                    break;
                case 5:
                    msg = msg + 'FA';
                    break;
                case 7:
                    msg = msg + 'SO';
                    break;
                case 9:
                    msg = msg + 'LA';
                    break;
                case 11:
                    msg = msg + 'TI';
                    break;
                case 12:
                    msg = msg + 'DO';
                    break;
                default:
                    consoleAndAlert('Note type \'' + randomInt + '\' is not supported.');
            }

            $('#note').text(msg);
        }

    </script>
}
