@{
    ViewBag.Title = "L1C1 6.1 - Solfeg Resolution Identification";
}

<h2>Level 1 Chapter 1</h2>
<h5>@ViewBag.Title</h5>

<div class="card bg-info text-white">
    <div class="card-body">
        <i class="fa fa-info-circle"></i>
        <span class="pad-left-10">These are selected from the resolution identificaiton questions on page 13</span>
    </div>
</div>

<div class="row">
    <div class="col-md-6 card">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
</div>

<div class="row">
    <div class="col-md-6 card">
        <div>
            <div class="float-left">
                <h4>Drill</h4>
            </div>
            <div class="float-right">
                <input type="button" class="btn btn-primary margin-top-5" value="Get a New Resolution" onclick="setAudResolutionSrc()" />
            </div>
        </div>
        <figure>
            <figcaption>Press the play button to hear the resolution</figcaption>
            <audio id="audResolution" controls preload='none'>
                <source src='@Url.Action("GetResolutionNoDO", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName })' type='audio/mpeg'>
            </audio>
        </figure>
        <p>Hover over the below to reveal the resolution</p>
        <div class="spoiler" id="resolution"></div>
    </div>
</div>

<h4>Practice Resolutions</h4>

<div class="row">
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">RE DO</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-0" checked />
                    <label class="custom-control-label small" for="cb-include-0">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("GetResolutionNoDO", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 0 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">FA MI</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-1" checked />
                    <label class="custom-control-label small" for="cb-include-1">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("GetResolutionNoDO", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 1 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">LA SO</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-2" checked />
                    <label class="custom-control-label small" for="cb-include-2">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("GetResolutionNoDO", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 2 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">(high)TI DO</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-3" checked />
                    <label class="custom-control-label small" for="cb-include-3">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("GetResolutionNoDO", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 3 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
    <div class="col-md-4 card">
        <figure>
            <figcaption>
                <div class="float-left">(low)TI DO</div>
                <div class="float-right custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input cb-include" id="cb-include-4" checked />
                    <label class="custom-control-label small" for="cb-include-4">Include in Drills</label>
                </div>
            </figcaption>
            <div class="clearfix"></div>
            <audio controls preload='none'>
                <source src='@Url.Action("GetResolutionNoDO", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName, type = 4 })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
</div>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudResolutionSrc();
            $('.cb-include').change(function () {
                setAudResolutionSrc();
            });
        });

        function setAudResolutionSrc() {
            var baseSrc = '@Url.Action("GetResolutionNoDO", "L1C1", new { doNoteName = ViewBag.Pitch.PitchName })';
            var excluded = getExcluded(null, 0);
            var randomInt = getRandomInt(0, 4, excluded);
            var src = baseSrc + '&type=' + randomInt;
            $('#audResolution').attr('src', src);

            var msg = '';
            switch (randomInt) {
                case 0:
                    msg = msg + 'RE DO';
                    break;
                case 1:
                    msg = msg + 'FA MI';
                    break;
                case 2:
                    msg = msg + 'LA SO';
                    break;
                case 3:
                    msg = msg + '(high)TI DO';
                    break;
                case 4:
                    msg = msg + '(low)TI DO';
                    break;
                default:
                    consoleAndAlert('Resolution type \'' + randomInt + '\' is not supported.');
            }

            $('#resolution').text(msg);
    }

    </script>
}
