@{
    ViewBag.Title = "L1C6 2.1 - Melodic Maj 2nd/Min 7th Vocal Drills";
}

<h2>Level 1 Chapter 6</h2>
<h5>@ViewBag.Title</h5>

<div class="card bg-info text-white">
    <div class="card-body">
        <i class="fa fa-info-circle"></i>
        <span class="pad-left-10">These are selected from the vocal drills on pages 120-123</span>
    </div>
</div>

<div class="row">
    <div class="col-md-6 card">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
</div>

<div class="row toggle-demo" role="group">
    <div class="col-md-6 card">
        Include drills for
        <div class="switch-toggle alert alert-dark">
            <input id="maj2nds" name="intervaltype" type="radio" checked>
            <label for="maj2nds" onclick="">Major 2nds</label>

            <input id="min7ths" name="intervaltype" type="radio">
            <label for="min7ths" onclick="">Minor 7ths</label>

            <input id="both" name="intervaltype" type="radio">
            <label for="both" onclick="">Both</label>

            <a class="btn btn-primary"></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 card">
        <div>
            <div class="float-left">
                <h4>Drill</h4>
            </div>
            <div class="float-right">
                <span id="spinner" class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true"></span>
                <input type="button" class="btn btn-primary margin-top-5" value="Get a New Interval" onclick="setAudDrill1Src()" />
            </div>
        </div>

        <figure>
            <figcaption>Press the play button to hear the drill</figcaption>
            <audio id="audDrill1" controls preload='none'>
                <source src='' type='audio/mpeg'>
            </audio>
        </figure>
        <p>Hover over the below to see the drill</p>
        <div class="spoiler" id="drill1"></div>
    </div>
</div>

<div id="maj-2nd-prompts">
    <h4>Maj 2nd Vocal Drills</h4>
    <div class="row">
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">DO DO RE RE DO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-0" checked />
                        <label class="custom-control-label small" for="cb-include-0">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 0 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">RE RE MI MI MI</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-1" checked />
                        <label class="custom-control-label small" for="cb-include-1">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 1 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">FA FA SO SO SO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-2" checked />
                        <label class="custom-control-label small" for="cb-include-2">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 2 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">SO SO LA LA SO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-3" checked />
                        <label class="custom-control-label small" for="cb-include-3">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 3 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">LA LA TI TI DO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-4" checked />
                        <label class="custom-control-label small" for="cb-include-4">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 4 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">RE RE DO DO DO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-5" checked />
                        <label class="custom-control-label small" for="cb-include-5">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 5 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">MI MI RE RE DO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-6" checked />
                        <label class="custom-control-label small" for="cb-include-6">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 6 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">SO SO FA FA MI</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-7" checked />
                        <label class="custom-control-label small" for="cb-include-7">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 7 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">LA LA SO SO SO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-8" checked />
                        <label class="custom-control-label small" for="cb-include-8">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 8 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">TI TI LA LA SO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-9" checked />
                        <label class="custom-control-label small" for="cb-include-9">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 9 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
    </div>
</div>

<div id="min-7th-prompts">
    <h4>Min 7th Vocal Drills</h4>
    <div class="row">
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">RE RE DO DO DO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-10" checked />
                        <label class="custom-control-label small" for="cb-include-10">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 10 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">MI MI RE RE DO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-11" checked />
                        <label class="custom-control-label small" for="cb-include-11">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 11 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">SO SO FA FA MI</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-12" checked />
                        <label class="custom-control-label small" for="cb-include-12">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 12 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">LA LA SO SO SO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-13" checked />
                        <label class="custom-control-label small" for="cb-include-13">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 13 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">TI TI LA LA SO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-14" checked />
                        <label class="custom-control-label small" for="cb-include-14">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 14 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">DO DO RE RE DO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-15" checked />
                        <label class="custom-control-label small" for="cb-include-15">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 15 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">RE RE MI MI MI</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-16" checked />
                        <label class="custom-control-label small" for="cb-include-16">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 16 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">FA FA SO SO SO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-17" checked />
                        <label class="custom-control-label small" for="cb-include-17">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 17 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">SO SO LA LA SO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-18" checked />
                        <label class="custom-control-label small" for="cb-include-18">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 18 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">LA LA TI TI DO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-19" checked />
                        <label class="custom-control-label small" for="cb-include-19">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName, type = 19 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>

    </div>
</div>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudDrill1Src();

            $('input[type=radio][name=intervaltype]').change(function () {
                setAudDrill1Src();
            });

            $('.cb-include').change(function () {
                setAudDrill1Src();
            });
        });

        function setAudDrill1Src() {
            $('#spinner').show();
            var baseSrc = '@Url.Action("GetMelodicDrillEx", "L1C6", new { doNoteName = ViewBag.Pitch.PitchName })';

            // Get the drills based on what the user has choosen.
            var intervalType = $("input[type=radio][name=intervaltype]:checked").attr('id');

            var minDrill;
            var maxDrill;
            var excluded = getExcluded(null, 0);

            switch (intervalType) {
                case 'maj2nds':
                    minDrill = 0;
                    maxDrill = 9;
                    $('#maj-2nd-prompts').fadeIn();
                    $('#min-7th-prompts').fadeOut();
                    break;

                case 'min7ths':
                    minDrill = 10;
                    maxDrill = 19;
                    $('#maj-2nd-prompts').fadeOut();
                    $('#min-7th-prompts').fadeIn();
                    break;

                case 'both':
                    minDrill = 0;
                    maxDrill = 19;
                    $('#maj-2nd-prompts').fadeIn();
                    $('#min-7th-prompts').fadeIn();
                    break;

                default:
                    var msg = 'intervalType ' + intervalType + ' is not supported';
                    consoleAndToastr(msg);
            }

            var randomInt = getRandomInt(minDrill, maxDrill, excluded);

            var src = baseSrc + '&type=' + randomInt;
            $('#audDrill1').attr('src', src);

            var msg = '';
            switch (randomInt) {
                case 0:
                    msg = msg + 'DO DO RE RE DO';
                    break;
                case 1:
                    msg = msg + 'RE RE MI MI MI';
                    break;
                case 2:
                    msg = msg + 'FA FA SO SO SO';
                    break;
                case 3:
                    msg = msg + 'SO SO LA LA SO';
                    break;
                case 4:
                    msg = msg + 'LA LA TI TI DO';
                    break;
                case 5:
                    msg = msg + 'RE RE DO DO DO';
                    break;
                case 6:
                    msg = msg + 'MI MI RE RE DO';
                    break;
                case 7:
                    msg = msg + 'SO SO FA FA MI';
                    break;
                case 8:
                    msg = msg + 'LA LA SO SO SO';
                    break;
                case 9:
                    msg = msg + 'TI TI LA LA SO';
                    break;
                case 10:
                    msg = msg + 'RE RE DO DO DO';
                    break;
                case 11:
                    msg = msg + 'MI MI RE RE DO';
                    break;
                case 12:
                    msg = msg + 'SO SO FA FA MI';
                    break;
                case 13:
                    msg = msg + 'LA LA SO SO SO';
                    break;
                case 14:
                    msg = msg + 'TI TI LA LA SO';
                    break;
                case 15:
                    msg = msg + 'DO DO RE RE DO';
                    break;
                case 16:
                    msg = msg + 'RE RE MI MI MI';
                    break;
                case 17:
                    msg = msg + 'FA FA SO SO SO';
                    break;
                case 18:
                    msg = msg + 'SO SO LA LA SO';
                    break;
                case 19:
                    msg = msg + 'LA LA TI TI DO';
                    break;
                default:
                    consoleAndToastr('randomInt ' + randomInt + ' is not supported.');
                    break;
            }

            $('#drill1').text(msg);
            $('#spinner').fadeOut("slow");
        }

    </script>
}