@{
    ViewBag.Title = "Find the DO";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-12">
        Task: Find the DO. Play the audio below, and find the DO.
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Each time this page is refreshed, a new DO is assigned.</p>
        <input type="button" value="Get a New DO" onclick="location.href='@Url.Action("Index", "DO")'" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <audio controls preload='none'>
            @*<source src='/Components/PlayFile?FilePath=[filename.wav]' type='audio/wav'>*@
            <source src='@Url.Action("GetFileStreamResult", "DO", new { hertz = ViewBag.Pitch.Hertz })' type='audio/wav'>
        </audio>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-12">
        <p>Hover over the below to reveal your DO.</p>
        <p class="spoiler">Your DO is <b>@ViewBag.Pitch.PitchName</b> - @ViewBag.Pitch.Hertz Hz</p>
    </div>
</div>
