@{
    ViewBag.Title = "Find the DO";
}

<h2>@ViewBag.Title</h2>

<h5>Task: Listen to the DO below, sing it, then find it on your instrument</h5>
<hr />

<div class="row">
    <div class="col-md-12">
        <p>Each time this page is refreshed, a new DO is assigned.</p>
        <input type="button" value="Get a New DO" onclick="location.href='@Url.Action("Index", "DO")'" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <figure>
            <figcaption><img class="piano" /></figcaption>
            <audio controls preload='none'>
                <source src='@Url.Action("GetDOEx", "DO", new { doNoteName = ViewBag.Pitch.PitchName })' type='audio/mpeg'>
            </audio>
        </figure>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Hover over the below to reveal your DO.</p>
        <p class="spoiler">Your DO is @ViewBag.Pitch.PitchName - @ViewBag.Pitch.Hertz Hz</p>
    </div>
</div>
