@{
    ViewBag.Title = "L1C2 5.2 - Harmonic Major 3rd / Minor 6th Interval Identification";
}

<h2>Level 1 Chapter 2</h2>
<h5>@ViewBag.Title</h5>

<div class="card bg-light text-primary">
    <div class="card-body">
        <i class="fa fa-info"></i>
        <span class="pad-left-10">These are selected from the harmonic identificaiton questions on page 30.</span>
    </div>
</div>

<div class="row">
    <div class="col-md-6 card">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
</div>

<div class="row toggle-demo" role="group">
    <div class="col-md-6 card">
        Include drills for
        <div class="switch-toggle alert alert-dark">
            <input id="maj3rds" name="intervaltype" type="radio" checked>
            <label for="maj3rds" onclick="">Major 3rds</label>

            <input id="min6ths" name="intervaltype" type="radio">
            <label for="min6ths" onclick="">Minor 6ths</label>

            <input id="both" name="intervaltype" type="radio">
            <label for="both" onclick="">Both</label>

            <a class="btn btn-primary"></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 card">
        <div>
            <div class="float-left">
                <h4>Drill</h4>
            </div>
            <div class="float-right">
                <span id="spinner" class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true"></span>
                <input type="button" class="btn btn-primary margin-top-5" value="Get a New Interval" onclick="setAudDrillSrc()" />
            </div>
        </div>

        <figure>
            <figcaption>Press the play button to hear the interval</figcaption>
            <audio id="audDrill" controls preload='none'>
                <source src='' type='audio/mpeg'>
            </audio>
        </figure>
        <div class="spoiler" id="drill1"></div>
    </div>
</div>

<div id="maj-3rd-prompts">
    <h4>Maj 3rd Prompts</h4>
    <div class="row">
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">DO MI</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-0" checked />
                        <label class="custom-control-label small" for="cb-include-0">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetHarmonicDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 0 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">FA LA</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-1" checked />
                        <label class="custom-control-label small" for="cb-include-1">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetHarmonicDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 1 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">SO TI</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-2" checked />
                        <label class="custom-control-label small" for="cb-include-2">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetHarmonicDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 2 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
    </div>
</div>

<div id="min-6th-prompts">
    <h4>Min 6th Prompts</h4>
    <div class="row">
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">MI DO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-3" checked />
                        <label class="custom-control-label small" for="cb-include-3">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetHarmonicDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 3 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">LA FA</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-4" checked />
                        <label class="custom-control-label small" for="cb-include-4">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetHarmonicDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 4 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
        <div class="col-md-4 card">
            <figure>
                <figcaption>
                    <div class="float-left">TI SO</div>
                    <div class="float-right custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input cb-include" id="cb-include-5" checked />
                        <label class="custom-control-label small" for="cb-include-5">Include in Drills</label>
                    </div>
                </figcaption>
                <div class="clearfix"></div>
                <audio controls preload='none'>
                    <source src='@Url.Action("GetHarmonicDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 5 })' type='audio/mpeg'>
                </audio>
            </figure>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="card-header bg-warning text-primary">
            <i class="fa fa-gears"></i><label class="margin-left-default">Automation</label>
        </div>
        <div class="card-body">
            <p class="card-text">Automate the drill process. This respects your "Include in Drills" selections.</p>
            <button id="btnAutomate" class="btn btn-warning" onclick="automate();">Go!</button><label class="margin-left-default" id="remainingIterations"></label>
        </div>
    </div>
</div>

@{Html.RenderPartial("~/Views/Shared/RevealModal.cshtml");}

@section  scripts {
    <script>

        var jsIntervals = [];
        var iterations = 0;
        var maxIterations = 10;

        var delayBeforeInterval = 1000;
        var delayBeforeShowModal = 3500;
        var delayBeforeHideModal = 3500;
        var delayBetweenIterations = delayBeforeInterval + delayBeforeShowModal + delayBeforeHideModal;

        $(document).ready(function () {
            setAudDrillSrc();

            $('input[type=radio][name=intervaltype]').change(function () {
                setAudDrillSrc();
            });
            $('.cb-include').change(function () {
                setAudDrillSrc();
            });
        });

        function setAudDrillSrc() {
            $('#spinner').show();
            var baseSrc = '@Url.Action("GetHarmonicDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName })';

            // Get the drills based on what the user has choosen.
            var intervalType = $("input[type=radio][name=intervaltype]:checked").attr('id');

            var minDrill;
            var maxDrill;
            var excluded = getExcluded(null, 0);

            switch (intervalType) {
                case 'maj3rds':
                    minDrill = 0;
                    maxDrill = 2;
                    $('#maj-3rd-prompts').fadeIn();
                    $('#min-6th-prompts').fadeOut();
                    break;

                case 'min6ths':
                    minDrill = 3;
                    maxDrill = 5;
                    $('#maj-3rd-prompts').fadeOut();
                    $('#min-6th-prompts').fadeIn();
                    break;

                case 'both':
                    minDrill = 0;
                    maxDrill = 5;
                    $('#maj-3rd-prompts').fadeIn();
                    $('#min-6th-prompts').fadeIn();
                    break;

                default:
                    var msg = 'intervalType ' + intervalType + ' is not supported';
                    consoleAndToastr(msg);
            }

            var randomInt = getRandomInt(minDrill, maxDrill, excluded);

            var src = baseSrc + '&type=' + randomInt;
            $('#audDrill').attr('src', src);

            var msg = '';
            switch (randomInt) {
                case 0:
                    msg = msg + 'DO MI (Maj 3rd)';
                    break;
                case 1:
                    msg = msg + 'FA LA (Maj 3rd)';
                    break;
                case 2:
                    msg = msg + 'SO TI (Maj 3rd)';
                    break;
                case 3:
                    msg = msg + 'MI DO (Min 6th)';
                    break;
                case 4:
                    msg = msg + 'LA FA (Min 6th)';
                    break;
                case 5:
                    msg = msg + 'TI SO (Min 6th)';
                    break;
            }

            $('#drill1').text(msg);
            $('#spinner').fadeOut("slow");
        }

        function automate() {
            var buttonText = $("#btnAutomate").text();
            switch (buttonText) {
                case "Go!":
                    $("#btnAutomate").text("Stop");
                    playAndShow();
                    var jsInterval = setInterval(playAndShow, delayBetweenIterations);
                    jsIntervals.push(jsInterval);
                    break;

                case "Stop":
                    $("#btnAutomate").text("Go!");
                    resetIterationsMessage();
                    clearAllIntervals();
                    break;

                default:
                    alert("'" + buttonText + "' is not supported.");
                    break;
            }
        }

        function playAndShow() {
            iterations += 1;
            if (iterations > maxIterations) {
                $("#btnAutomate").text("Go!");
                resetIterationsMessage();
                iterations = 0;
                clearAllIntervals();
                return;
            }
            else {
                $("#remainingIterations").text("Playing " + iterations + " of " + maxIterations + " iterations.");
            }

            setTimeout(playInterval, delayBeforeInterval);
        }

        function playInterval() {
            setAudDrillSrc();
            $('#audDrill').trigger("play");
            setTimeout(showModal, delayBeforeShowModal);
        }

        function showModal() {
            $("#revealModalBody").html($("#drill1").html());
            $("#revealModal").modal('show');
            setTimeout(hideModal, delayBeforeHideModal);
        }

        function hideModal() {
            $("#revealModal").modal('hide');
        }

        function clearAllIntervals() {
            for (var id of this.jsIntervals) {
                clearInterval(id);
            }

            jsIntervals = [];
        }

        function resetIterationsMessage() {
            $("#remainingIterations").text("Automation will stop after " + maxIterations + " iterations.");
        }

    </script>
}
