@{
    ViewBag.Title = "Major 3rd / Minor 6th Intervals";
}
<h2>Level 1 Chapter 2</h2>

<h5>@ViewBag.Title</h5>
<hr />

<div class="row">
    <div class="col-md-6 card">
        @{
            Html.RenderPartial("NewDO");
        }
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-6 card">
        <div>
            <div class="float-left">
                <h4>Drill</h4>
            </div>
            <div class="float-right">
                <input type="button" class="btn btn-primary margin-top-5" value="Get a New Interval" onclick="setAudDrill1Src()" />
            </div>
        </div>

        <figure>
            <figcaption>Press the play button to hear the interval</figcaption>
            <audio id="audDrill1" controls preload='none'>
                <source src='' type='audio/mpeg'>
            </audio>
        </figure>
        <p>Hover over the below to reveal the interval</p>
        <div class="spoiler" id="drill1"></div>
    </div>
</div>

<section id="tabs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-maj3rd-tab" data-toggle="tab" href="#nav-maj3rd" role="tab" aria-controls="nav-maj3rd" aria-selected="true">Major 3rd Intervals</a>
                        <a class="nav-item nav-link" id="nav-min6th-tab" data-toggle="tab" href="#nav-min6th" role="tab" aria-controls="nav-min6th" aria-selected="false">Minor 6th Intervals</a>
                    </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-maj3rd" role="tabpanel" aria-labelledby="nav-maj3rd-tab">
                        <h4>Prompts</h4>
                        <div class="row">
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">DO DO MI MI MI</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-0" checked />
                                            <label class="custom-control-label small" for="cb-include-0">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("GetDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 0 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">FA FA LA LA SO</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-1" checked />
                                            <label class="custom-control-label small" for="cb-include-1">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("GetDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 1 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">SO SO TI TI DO</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-2" checked />
                                            <label class="custom-control-label small" for="cb-include-2">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("GetDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 2 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">TI TI SO SO SO</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-3" checked />
                                            <label class="custom-control-label small" for="cb-include-3">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("GetDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 3 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">LA LA FA FA MI</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-4" checked />
                                            <label class="custom-control-label small" for="cb-include-4">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("GetDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 4 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">MI MI DO DO DO</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-5" checked />
                                            <label class="custom-control-label small" for="cb-include-5">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("GetDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 5 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-min6th" role="tabpanel" aria-labelledby="nav-min6th-tab">
                        <h4>Prompts</h4>
                        <div class="row">
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">MI MI DO DO DO</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-6" checked />
                                            <label class="custom-control-label small" for="cb-include-6">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("GetDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 6 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">LA LA FA FA MI</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-7" checked />
                                            <label class="custom-control-label small" for="cb-include-7">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("GetDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 7 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">TI TI SO SO SO</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-8" checked />
                                            <label class="custom-control-label small" for="cb-include-8">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("GetDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 8 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">SO SO TI TI DO</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-9" checked />
                                            <label class="custom-control-label small" for="cb-include-9">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("GetDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 9 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">FA FA LA LA SO</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-10" checked />
                                            <label class="custom-control-label small" for="cb-include-10">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("GetDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 10 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                            <div class="col-md-4 card">
                                <figure>
                                    <figcaption>
                                        <div class="float-left">DO DO MI MI MI</div>
                                        <div class="float-right custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input cb-include" id="cb-include-11" checked />
                                            <label class="custom-control-label small" for="cb-include-11">Include in Drills</label>
                                        </div>
                                    </figcaption>
                                    <audio controls preload='none'>
                                        <source src='@Url.Action("GetDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName, type = 11 })' type='audio/mpeg'>
                                    </audio>
                                </figure>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section  scripts {
    <script>
        $(document).ready(function () {
            setAudDrill1Src();
            $('.cb-include').change(function () {
                setAudDrill1Src();
            });

            $('#nav-maj3rd-tab').click(function () {
                $('#nav-maj3rd').addClass('active');
                $('#nav-min6th').removeClass('active');
                setAudDrill1Src();
            });

            $('#nav-min6th-tab').click(function () {
                $('#nav-min6th').addClass('active');
                $('#nav-maj3rd').removeClass('active');
                setAudDrill1Src();
            });
        });

        function setAudDrill1Src() {
            var baseSrc = '@Url.Action("GetDrillEx", "L1C2", new { doNoteName = ViewBag.Pitch.PitchName })';

            // Find the active tab.
            var activeTab = $('div.tab-pane.active');
            var activeTabId = activeTab.attr('id');

            // Get the drills based on what tab we're on.
            var randomInt;
            var excluded = getExcluded(null, 0);
            switch (activeTabId) {
                case 'nav-maj3rd':
                    randomInt = getRandomInt(0, 5, excluded);
                    break;

                case 'nav-min6th':
                    randomInt = getRandomInt(6, 11, excluded);
                    break;

                default:
                    var msg = 'activeTabId ' + activeTabId + ' is not supported';
                    console.log(msg);
                    alert(msg);
            }

            var src = baseSrc + '&type=' + randomInt;
            $('#audDrill1').attr('src', src);

            var msg = '';
            switch (randomInt) {
                case 0:
                    msg = msg + 'DO DO MI MI MI (Maj 3rd)';
                    break;
                case 1:
                    msg = msg + 'FA FA LA LA SO (Maj 3rd)';
                    break;
                case 2:
                    msg = msg + 'SO SO TI TI DO (Maj3 rd)';
                    break;
                case 3:
                    msg = msg + 'TI TI SO SO SO (Maj 3rd)';
                    break;
                case 4:
                    msg = msg + 'LA LA FA FA MI (Maj 3rd)';
                    break;
                case 5:
                    msg = msg + 'MI MI DO DO DO (Maj 3rd)';
                    break;
                case 6:
                    msg = msg + 'MI MI DO DO DO (Min 6th)';
                    break;
                case 7:
                    msg = msg + 'LA LA LA FA MI (Min 6th)';
                    break;
                case 8:
                    msg = msg + 'TI TI SO SO SO (Min 6th)';
                    break;
                case 9:
                    msg = msg + 'SO SO TI TI DO (Min 6th)';
                    break;
                case 10:
                    msg = msg + 'FA FA LA LA SO (Min 6th)';
                    break;
                case 11:
                    msg = msg + 'DO DO MI MI MI (Min 6th)';
                    break;
            }

            $('#drill1').text(msg);
    }
    </script>
}
